---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "color";

/*** Colors ***/
$primary-color: color("light-green", "darken-3") !default;

$secondary-color: color("blue", "accent-4") !default;

$off-white: rgba(255, 255, 255, 0.87) !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "prefixer",
        "mixins",
        "variables",
        "normalize",
        "global",
        "icons-material-design",
        "grid",
        "navbar",
        "roboto",
        "typography",
        "cards",
        "tooltip",
        "buttons",
        "dropdown",
        "waves",
        "materialbox",
        "form",
        "sideNav",
        "post",
        "recommendations",
        "sidebar"
;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-body {
  @extend .col, .s12, .m12, .l9;


}

.page-image {
  @extend .left;
  padding-right: 10px;
}

.nav-button {
  @extend .btn;
  @extend .white-text;
}

ul.post-list {
  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}

.collection {
  &.with-header {
    .collection-header {
      @extend .flow-text;
      color: white;
      background-color: $primary-color;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

ul.footer-links {
  li {
    @media #{$small-and-down} {
     display: list-item;
    }

    @media #{$medium-and-up} {
     display: inline;
    }
    padding-left: 2rem;
    padding-right: 2rem;
    a {
      @extend .white-text;
    }
  }

}

.recommendation-set {
  @extend .row;

  .recommendation-entry {
    @extend .col, .s12, .m6, .l6;

    .card {

      .card-content {
        a {
          .card-title {
            color: $secondary-color !important;
          }
        }

        p {
          padding-bottom: 1rem;
        }
      }

      .card-action {
        a {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.author-site {
  text-decoration: underline;
}

.share-buttons {
  @extend .row;
  @extend .z-depth-1;
  padding-bottom: 1rem;
  @extend .center;
  margin-bottom: 1rem;

  .share-text {
    @extend .col, .s12;
    color: #616161;
    font-size: 1.4rem;
  }
  .button-set {
    @extend .col, .s12;
    a {
      opacity: 0.7;

      &:hover { opacity: 1.0; }
    }
  }
}

.share-text {
  @extend .right;
  padding-left: 1rem;
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }

.mail-signup {
  @extend .row;
  @extend .z-depth-1;
  padding: 0.5rem;
  .response {
    margin-top: 1.5rem;
    padding: 0.5rem;
  }
  #mce-error-response {
    background-color: red;
    color: white;
  }
  #mce-success-response {
    background-color: $primary-color;
    color: white;
  }
  .signup-form {
    @extend .center;
    .form-title {
      @extend .col, .s12;
      color: #616161;
      font-size: 1.4rem;
    }
    .input-field {
      @extend .col, .s12;
      .material-icons {
        color: #616161;
      }
    }
    .form-button {
      @extend .waves-effect, .waves-light, .btn;
    }
  }
}
