---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "color";

/*** Colors ***/
$primary-color: color("light-green", "darken-3") !default;

$secondary-color: color("blue", "accent-4") !default;

$off-white: rgba(255, 255, 255, 0.87) !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "prefixer",
        "mixins",
        "variables",
        "normalize",
        "global",
        "icons-material-design",
        "grid",
        "navbar",
        "roboto",
        "typography",
        "cards",
        "toast",
        "tabs",
        "tooltip",
        "buttons",
        "dropdown",
        "waves",
        "modal",
        "collapsible",
        "chips",
        "materialbox",
        "form",
        "table_of_contents",
        "sideNav",
        "preloader",
        "slider",
        "carousel",

        "post",
        "recommendations",
        "sidebar"
;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-body {
  @extend .col, .s12, .m12, .l9;


}

.page-image {
  @extend .left;
  padding-right: 10px;
}

.nav-button {
  @extend .btn;
  @extend .white-text;
}

ul.post-list {
  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}

.collection {
  &.with-header {
    .collection-header {
      @extend .flow-text;
      color: white;
      background-color: $primary-color;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

ul.footer-links {
  li {
    @media #{$small-and-down} {
     display: list-item;
    }

    @media #{$medium-and-up} {
     display: inline;
    }
    padding-left: 2rem;
    padding-right: 2rem;
    a {
      @extend .white-text;
    }
  }

}

.recommendation-set {
  @extend .row;

  .recommendation-entry {
    @extend .col, .s12, .m6, .l6;

    .card {

      .card-content {
        a {
          .card-title {
            color: $secondary-color !important;
          }
        }

        p {
          padding-bottom: 1rem;
        }
      }

      .card-action {
        a {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.author-site {
  text-decoration: underline;
}

.share-buttons {
  margin-top: 3rem;

  .share-text {
    @extend .left;
    color: #C4C9CC;
    padding-right: 10px;
  }
  a {
    &.twitter { color: #55ACEE; }
    &.facebook { color: #3B5998; }
    &.google-plus { color: #DD4B39; }
    &.linkedin { color: #0077B5; }
    &.pinterest { color: #BD081C; }
    &.reddit { color: #FF4500; }
    &.tumblr { color: #35465C; }
    &.email { color: #C4C9CC; }
  }

}
