body .post__body {
  counter-reset: h2;
}
body .post__body h2 {
  counter-reset: h3;
}
body .post__body h3 {
  counter-reset: h4;
}
body .post__body h2:before {
  counter-increment: h2;
  content: counter(h2) " ";
}
body .post__body h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}
body .post__body h2.nocount:before;
body .post__body h3.nocount:before;
