.desktop-only {
  display: none;
  @media screen and (min-width: $screen-m) {
    background-color: #006FBD;
    display: initial;
  }
}

.mobile-only {
  background-color: #006FBD;
  display: initial;
  @media screen and (min-width: $screen-m) {
    display: none;
  }
}
