html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

main.page {
  flex: 1 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: $screen-m) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.archive-comment-count {
  font-size: 0.8rem;
  color: $meta-color;
  a {
    color: $meta-color;
  }
  @media (max-width: $screen-m) {
    display: none;
  }
}

.meta-header {
  color: $meta-color;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.tags__tag {
  color: $meta-color;
}

.share-buttons__list {
  text-align: center;
  :first-child { margin-left: 0 !important; }
  :last-child { margin-right: 0 !important; }
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-buttons__text {
  display: inline;
  color: $meta-color;
  text-transform: uppercase;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.share-buttons__button {
  display: inline;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  a {
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
  }
}

$twitter-color: #55ACEE;
$facebook-color: #3B5998;
$pinterest-color: #BD081C;

a.twitter-hover:hover {
  background-color: $twitter-color;
  color: white;
  border: 1px solid $twitter-color;
}
a.facebook-hover:hover {
  background-color: $facebook-color;
  color: white;
  border: 1px solid $facebook-color;
}
a.pinterest-hover:hover {
  background-color: $pinterest-color;
  color: white;
  border: 1px solid $pinterest-color;
}

a.web-hover:hover {
  background-color: $meta-color;
  color: white;
  border: 1px solid $meta-color;
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }
.print { color: $meta-color }

.pinterest {
  img {
    max-width: 75%;
    max-height: 40rem;
  }
}

form {
  font-size: 1.2rem;
  font-weight: 300;
  input {
    display: block;
  }
  textarea, select {
    display: block;
  }
  textarea {
    min-width: 50%;
  }
  input, textarea, select {
    font-size: 1.1rem;
    border: 1px solid $meta-color;
    border-radius: 3px;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  button {
    font-size: 1.1rem;
    //background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    margin: 0.5rem auto;
    display: block;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.form--contact, .form--cyf {
  margin-bottom: 2rem;

  input, textarea, button, select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
  }
  button {
    margin-top: 1rem;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.form--cyf {
  border-bottom: 1px solid $meta-color;
  max-width: 40rem;
  padding: 0.5rem 4rem 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  .cyf-title {
    flex: 0 0 100%;
    color: $meta-color;
  }

  .cyf-title, .cyf-submit {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0.5rem auto;
  }

  .cyf-submit:hover {
    cursor: pointer;
  }

  .cyf-entry {
    flex: 1 1 10rem;
    margin: 0.5rem;
  }

}

.calculator {
  input, button {
    float: right;
  }
}

.tweet-link {
  font-size: 1.0rem;
}

.in-page-nav {
  color: $meta-color;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}

ul.in-page-nav--list {
  list-style: none;
  display: inline-block;
  margin: 0;
}

li.in-page-nav--list-item {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;

  border-radius: 0.2rem;
}

li.in-page-nav--list-item a {
  color: $meta-color;

}

.post .archive-list--entry {
  list-style: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.8rem;
}

.post .archive-list--entry a {
  color: $meta-color;
}

.post .archive-list__entry--centered {
  font-size: 1rem;
  margin-left: 0;
  text-align: center;
  display: block;
  a {
    color: $secondary-color;
  }
}

.post .archive-list--title {
  text-transform: capitalize;
}

.tipue_search_content_title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 1.6rem 0 0 0;
  a {
    color: rgba(0, 0, 0, 0.87);
  }
}

#tipue_search_warning, #tipue_search_results_count, .tipue_search_content_url {
  font-weight: 300;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}
.tipue_search_content_text {
  font-weight: 300;
  font-size: 1.2rem;
}
.tipue_search_content_bold {
  font-weight: 500;
}

#tipue_search_foot {
  margin: 2rem auto;
}

#tipue_search_foot_boxes li {
  list-style: none;
  display: inline;
  margin-left: 1rem;
}

a.tipue_search_foot_box {
  color: $meta-color;
}

.boxed {
  background-color: $bg-color;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  max-width: 40rem;
  padding: 0.5rem 4rem 1.5rem;
  margin: 0 auto;
  .meta-header {
    color: $off-black;
  }
}

.read-on {
  margin: 0 10rem 4rem;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: $meta-color;
}

.post-list-divide {
  max-width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.responsive__table__container {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.patron {
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid $meta-color;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 600px;
  text-align: center;
}

.patron__link, .patron__description {
  margin: 0.5rem 0;
}

.content-upgrade__title {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.content-upgrade__image {
  margin-top: 1rem;
  display: inline;
  float: left;
  width: 30%;
  img {
    width: 150px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }
  @media screen and (max-width: $screen-m) {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.content-upgrade__text {
  margin-top: 1rem;
  display: inline;
  float: right;
  width: 60%;
  @media screen and (max-width: $screen-m) {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
}


.content-upgrade__groups {
  display: none;
}
