html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
	color: $secondary-color;
	text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

main.page {
  flex: 1 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: $minimum-break) {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  min-width: 25%;
  -webkit-flex: 1 200px;
  flex: 1 200px;
}

.col-three-quarters {
  -webkit-flex: 1 700px;
  flex: 1 700px;
  min-width: 66%;
}

a {
  opacity: 1.0;
  &:hover {
    opacity: 0.7;
  }
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2rem;
  max-width: 800px;
  border-radius: 0.2rem;
  position: relative;
}

.post__link {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.post__title {
  font-size: 2.5rem;
  text-align: center;
  color: $off-black;
  margin: 0rem 0 1rem 0;
  text-transform: uppercase;
  a {
    color: inherit;
  }
}

.post__title--main {
  font-size: 2.5rem;
  color: $off-black;
  margin: 0 0 0.5rem 0;
  font-weight: 300;
}

.post__title--subtitle {
  font-size: 2.0rem;
  color: $meta-color;
  margin: 0;
  font-weight: 300;
}

.post__meta {
  color: $meta-color;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  .date {
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid $meta-color;
    border-bottom: 1px solid $meta-color;
    text-transform: uppercase;
  }
  .tags {
    display: inline-block;
    float: left;
    text-transform: capitalize;
  }
  .post__reading-time {
    display: block;
    text-align: right;
    color: $meta-color;
  }
  .post__comment-count {
    display: block;
    text-align: right;
    color: $meta-color;
    a {
      color: $meta-color;
    }
  }

}

.archive-comment-count {
  font-size: 0.8rem;
  color: $meta-color;
  a {
    color: $meta-color;
  }
  @media (max-width: $minimum-break) {
    display: none;
  }
}

.post__header__image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 800px;
  object-fit: cover;
  border-radius: 0.2rem;
  object-position: center center;
}

.post__top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}
.post__meta--center {
  display: block;
  margin: 1rem 0;
  text-align: center;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}

.post__body {
  @media (min-width: $minimum-break) {
    img {
      max-width: 80%;
    }
  }
  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &.active {
      max-width: inherit;
    }
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }

  img.no-shadow {
    box-shadow: none;
  }

  .image-caption {
    text-align: center;
    color: $meta-color;
  }

  blockquote {
    color: $meta-color;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    padding: 0 1.5rem 0 1.5rem;
  }

  .side-note {
    text-align: right;
    color: $meta-color;
    font-size: 0.8rem;
  }

  p, li {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .disclaimer {
    color: $meta-color;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .rss {
    color: $meta-color;
    a {
      color: $meta-color;
    }
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
  }

  h4, h5, h6 {
    font-weight: 300;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  h4 {
    font-weight: 400;
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.2rem;
  }

  ul {
    list-style-type: disc;

    margin-left: 2rem;

    li {
      list-style-type: disc;
    }
  }
  pre.highlight {
    code {
      margin-left: 2rem;
    }
  }
  code {
    background-color: $code-color;
    padding: 0.2rem;
    font-size: 1rem;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border-spacing: 0px;

    th,
    td {
      padding: 0.3rem;
      @media (min-width: $minimum-break) {
        padding: 0.75rem;
      }
      vertical-align: top;
      border-bottom: 1px solid $meta-color;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: 2px solid $meta-color;
    }

    tbody + tbody {
      border-top: 2px solid $meta-color;
    }

    tbody tr:nth-of-type(odd) {
      background-color: $bg-color;
    }
  }
}

.post__footer {
  hr {
    margin: 2rem 0 2rem 0;
    color: $meta-color;
  }
}

.meta-header {
  color: $meta-color;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.tags__tag {
  color: $meta-color;
}

.share-buttons__list {
  text-align: center;
  :first-child { margin-left: 0 !important; }
  :last-child { margin-right: 0 !important; }
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-buttons__text {
  display: inline;
  color: $meta-color;
  text-transform: uppercase;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.share-buttons__button {
  display: inline;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  a {
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
  }
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }
.print { color: $meta-color }

.pinterest {
  img {
    max-width: 75%;
    max-height: 40rem;
  }
}

.profile__image {
  padding: 0;

  img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 40%;
    margin: 0;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }
}

.profile__icons {
  i {
    color: $meta-color;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5em;
  }
  .icons i a {
  text-decoration: none;
  }
}

.work--price {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
  color: $meta-color;
}

form {
  font-size: 1.2rem;
  font-weight: 300;
  input {
    display: block;
  }
  textarea, select {
    display: block;
  }
  textarea {
    min-width: 50%;
  }
  input, textarea, select {
    font-size: 1.1rem;
    border: 1px solid $meta-color;
    border-radius: 3px;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  button {
    font-size: 1.1rem;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    margin: 0.5rem;
    text-transform: uppercase;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.form--contact {
  margin-bottom: 2rem;

  input, textarea, button, select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
  }
  button {
    margin-top: 1rem;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.site-footer {
  font-weight: 300;
  background-color: white;
  text-align: center;
  padding-top: 1.5rem;
  a {
    color: $meta-color;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.post-list-text {
  list-style-type: none;
  padding-left: 0;
}

.post-list-text__item {
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0.7rem;
}


.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-row__element {
  -webkit-flex: 1 20rem;
  flex: 1 20rem;
  color: $meta-color;
  padding: 0 2rem;
  min-width: 20rem;
}


.copyright {
  margin-top: 2rem;
  font-weight: 300;
  .meta-header {
    font-size: 1rem;
  }
}

.calculator {
  input, button {
    float: right;
  }
}

.image--right {
  img {
    max-width: 300px;
    border-radius: 4px;
  }
  @media (min-width: $minimum-break) {
    float: right;
    padding: 0 0 0 2rem;
  }
}

div.call-to-action-container {
  margin: 2rem 0 0 0;
  text-align: center;
  .meta-header{
    padding: 0 2rem;
    margin: 1rem 0;
  }
  @media screen and (max-width: $minimum-break) {
    .call-to-action {
      display: block;
    }
    .meta-header {
      display: block;
    }
  }
}

div.call-to-action {
  display: inline;
  margin: 1rem 0 0 0;
  text-align: center;
  a {
    color: $meta-color;
    border: 1px solid $meta-color;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
    border-radius: 0.2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  a:hover {
    background-color: $meta-color;
    color: white;
    transition-duration: 200ms;
  }
}

div.call-to-action--hero {
  a {
    background-color: $secondary-color;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-weight: 500;
  }
  a:hover {
    background-color: $secondary-color;
  }
  margin: 1.5rem 0;
}


#next-post, #previous-post {
  text-align: center;
  margin: 0 2rem;
  font-size: 1rem;
}

.pagination {

  li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;

    a { color: $meta-color; }

    &.active a {
      color: #fff;
      cursor: default;
      &:hover {
        opacity: 1;
      }
    }

    &.active { background-color: $secondary-color; }

    &.disabled a {
      cursor: default;
      color: #999;
    }

    i {
      font-size: 2.2rem;
      vertical-align: middle;
    }
  }
  li.pages ul li {
    display: inline-block;
    float: none;
  }
}

img.full {
  max-width: 100%;
}

.tweet-link {
  font-size: 1.0rem;
}

// For responsive YouTube Embeds

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.in-page-nav {
  color: $meta-color;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
}

ul.in-page-nav--list {
  list-style: none;
  display: inline-block;
  margin: 0;
}

li.in-page-nav--list-item {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;

  border-radius: 0.2rem;
}

li.in-page-nav--list-item a {
  color: $meta-color;

}

.post .archive-list--entry {
  list-style: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.8rem;
}

.post .archive-list--entry a {
  color: $meta-color;
}

.post .archive-list__entry--centered {
  font-size: 1rem;
  margin-left: 0;
  text-align: center;
  display: block;
  a {
    color: $secondary-color;
  }
}

.post .archive-list--title {
  text-transform: capitalize;
}

.tipue_search_content_title {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 1.6rem 0 0 0;
  a {
    color: rgba(0, 0, 0, 0.87);
  }
}

#tipue_search_warning, #tipue_search_results_count, .tipue_search_content_url {
  font-weight: 300;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}
.tipue_search_content_text {
  font-weight: 300;
  font-size: 1.2rem;
}
.tipue_search_content_bold {
  font-weight: 500;
}

#tipue_search_foot {
  margin: 2rem auto;
}

#tipue_search_foot_boxes li {
  list-style: none;
  display: inline;
  margin-left: 1rem;
}

a.tipue_search_foot_box {
  color: $meta-color;
}

.boxed {
  background-color: $bg-color;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  max-width: 40rem;
  padding: 0.5rem 4rem 1.5rem;
  margin: 0 auto;
  .meta-header {
    color: $off-black;
  }
}

.read-on {
  margin: 0 10rem 4rem;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: $meta-color;
}

.post-list-divide {
  max-width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.responsive__table__container {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.patron {
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid $meta-color;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 600px;
  text-align: center;
}

.patron__link, .patron__description {
  margin: 0.5rem 0;
}

.post__audio {
  margin: 1rem auto;
  padding: 0.5rem;
  //border: 1px solid $meta-color;
  color: $meta-color;
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 600px;
  @media screen and (max-width: $minimum-break) {
    max-width: 85%;
  }
  text-align: center;
}

.post__audio__text {
  margin: 0.5rem;
}

.content-upgrade__title {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.content-upgrade__image {
  margin-top: 1rem;
  display: inline;
  float: left;
  width: 30%;
  img {
    width: 150px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }
  @media screen and (max-width: $minimum-break) {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.content-upgrade__text {
  margin-top: 1rem;
  display: inline;
  float: right;
  width: 60%;
  @media screen and (max-width: $minimum-break) {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
}

.content-upgrade__form {
  //display: block;
  //text-align: center;
}

.content-upgrade__groups {
  display: none;
}
