html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}

ul {
  padding-left: 0;
  list-style: none;
}

main.page {
  flex: 1 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media screen and (min-width: $screen-m) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.meta-header {
  color: $meta-color;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.tweet-link {
  font-size: 1.0rem;
}

.responsive__table__container {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.no-border, .image--no-border {
  img {
    box-shadow: none !important;
    border: none !important;
  }
}
