/* BRAND BAR */

.brand-bar {
  position: relative;
}

a .brand-bar__title {
  text-transform: uppercase;
  font-weight: 300;
  color: $off-black;
  margin: 2rem 0 4rem 1rem;
}

.brand-bar__title--first,
.brand-bar__title--second {
  font-size: 2rem;
  letter-spacing: .2rem;
  position: relative;
  padding: 1.25rem 0;
}

.brand-bar__title--second {
  padding-left: 0.625rem;
}

.brand-bar__title--subtitle {
  font-size: 0.66666667rem;
  color: $off-black;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  bottom: -2.3333333333rem;
  right: 1.4rem;
}


.brand-bar__title {
  display: inline-block;
  position: relative;
  padding: 0.75rem 1rem;
}
.brand-bar__title--first:before,
.brand-bar__title--second:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  background-color: $primary-color;
  position: absolute;
  content: '';
  opacity: 1;
  width: 70%;
}
.brand-bar__title--second:after {
  width: 78%;
}
.brand-bar__title--subtitle:before {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  top: -1.94444444rem;
  content: '\25BA';
  color: $primary-color;
  font-size: 1rem;
  text-align: right;
  position: absolute;
  right: 10%;
}
.brand-bar__title--first:after {
  width: 2px;
  height: 100%;
  background-color: $primary-color;
  position: absolute;
  content: '';
  opacity: 1;
  top: 0;
  right: 0;
}
.brand-bar__title--first:before {
  right: 0;
  top: 0;
}
.brand-bar__title--second:after {
  left: 0;
  bottom: 0;
}
a:hover .brand-bar__title--first:before,
a:hover .brand-bar__title--second:after {
  width: 90%;
}
a:hover .brand-bar__title--subtitle:before {
  right: -5%;
}

.brand-bar__icons {
  position: absolute;
  top: 0;
  right: 0.5rem;
  text-align: right;
}

.brand-bar__icon-list {
  margin: 0.2rem 0;
}

.brand-bar__icon-item {
  margin: 0 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 1.625rem;
  display: inline-block;
}

a.brand-bar__icon--meta {
  color: $meta-color;
}

.brand-bar__search-icon {
  width: auto;
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  text-align: right;
  margin: 0.2rem 0.2rem;
}

.search-form__input {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  padding: 0 0 0 1.5rem;
  border: 1px solid white;
  width: 0rem;
  margin: 0;
  border-radius: 3px;
  background-color: white;
  background-image: url(/assets/img/search-icon.svg);
  background-size: 1.5rem 1.5rem;
  background-position: 0 0.2rem;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-form__input:focus, .search-form__input--active {
  cursor: auto;
  width: 20rem;
  outline: none !important;
  border: 1px solid $meta-color;
  border-radius: 3px;
}

/* NAV BAR */

.nav-bar {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  background-color: $primary-color;
}

ul.nav-bar__list {
  flex: 4 4 0px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-evenly;
  width: calc(100vw - 20rem);
}

.nav-bar__list__item {
  flex: 0 1 auto;
  display: inline-block;
  margin: 0.8rem 0.6em;
  padding: 1rem 0px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  a {
    color: white;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0px;
  }
}

.nav-bar__list__item a:before,
.nav-bar__list__item a:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 0%;
  background-color: white;
  position: absolute;
  content: '';
  opacity: 0;
  left: 50%;
}
.nav-bar__list__item a:before {
  top: 0;
}
.nav-bar__list__item a:after {
  bottom: 0;
}
.nav-bar__list__item a:hover:before,
.nav-bar__list__item--current a:before,
.nav-bar__list__item:hover a:after,
.nav-bar__list__item--current a:after {
  opacity: 1;
}
.nav-bar__list__item a:hover:before,
.nav-bar__list__item a:hover:after {
  width: 80%;
}
.nav-bar__list__item a:hover:before,
.nav-bar__list__item a:hover:after {
  left: 10%;
}
.nav-bar__list__item--current a:before,
.nav-bar__list__item--current a:after {
  left: 20%;
  right: auto;
  width: 60%;
}

/* ABOUT BAR */

.about-bar {
  display: flex;
  margin: 3rem auto;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  @media screen and (max-width: $minimum-break) {
    margin: 4rem 2rem;
  }
}
.about-bar__image {
  flex: 0 0 150px;
  margin: 0 2rem;
  text-align: center;
  img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }
}
.about-bar__text {
  flex: 7 7 0;
  margin: 0 2rem;
  min-width: 300px;
  font-size: 1.2rem;
  font-weight: 300;
}
h1.about-bar__title {
  font-size: 1.5rem;
}

/* CONNECT BAR */

.connect-bar {
  margin: 0 auto;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  min-height: 5rem;
  padding: 1rem;
}

.connect-bar__subscribe {
  margin: 1rem 0.5rem;
}

.connect-bar__text {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
}

.connect-bar__form, .connect-bar__form__input {
  input {
    text-align: center;
    display: inline-block;
    border: 2px solid $meta-color;
  }
  input:focus {
    outline: none !important;
    border: 2px solid $primary-color;
  }
  button {
    background-color: $primary-color;
    display: inline-block;
  }
}

/* LATEST ARTICLES */

.latest-articles {
  margin: 4rem 0 -2rem;
  color: $meta-color;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: $medium-screen) {
    margin: 4rem 0 0;
  }
}
