/* BRAND BAR */

.brand-bar {
  position: relative;
  margin: 1rem 0;
}

.brand-bar__logo {
  text-align: center;
  img {
    max-height: 150px;
    max-width: 80%;
  }
}

.brand-bar__icons {
  position: absolute;
  top: 0;
  right: 0.5rem;
  text-align: right;
}

.brand-bar__icon-list {
  margin: 0.2rem 0;
}

.brand-bar__icon-item {
  margin: 0.5rem 0.25rem;
  text-align: right;
}

a.brand-bar__icon {
  text-align: center;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;

  border-radius: 0.2rem;
  background-color: $off-black;
  border: 1px solid $off-black;
  color: white;
  transition: background-color 350ms, border 350ms;
  i.fa {
    font-size: 1rem;

  }
  &:hover {
    background-color: white;
    opacity: 1;
  }
}

a.brand-bar__icon--meta {
  color: $meta-color;
}

.search-form__input {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  padding: 0 0 0 1.5rem;
  border: 1px solid white;
  width: 0rem;
  margin: 0;
  border-radius: 3px;
  background-color: white;
  background-image: url(/assets/img/search-icon.svg);
  background-size: 1.5rem 1.5rem;
  background-position: 0 0.2rem;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-form__input:focus, .search-form__input--active {
  cursor: auto;
  width: 20rem;
  outline: none !important;
  border: 1px solid $meta-color;
  border-radius: 3px;
}

/* NAV BAR */

.nav-bar {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 0;
  margin: 1rem 0 0;
}

ul.nav-bar__list {
  flex: 3 3 36rem;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-around;
}

.nav-bar__list__item, .nav-bar__list__button {
  flex: 0 1 auto;
  display: inline-block;
  padding: 1rem 0px;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  position: relative;
  a {
    color: $off-black;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0px;
  }
}

.nav-bar__list__button {
  a {
    border: 1px solid $primary-color;
    border-radius: 0.2rem;
    color: $primary-color;
    padding: 0.5rem 1rem;
    letter-spacing: 0.4rem;
    &:hover {
      background-color: $primary-color;
      color: white;
      opacity: 1.0;
      transition: color 350ms, background-color 350ms;
    }
  }
}

.nav-bar__list__item:before,
.nav-bar__list__item:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 0%;
  background-color: $primary-color;
  position: absolute;
  content: '';
  opacity: 0;
  left: 50%;
}
.nav-bar__list__item:before {
  top: 0;
}
.nav-bar__list__item:after {
  bottom: 0;
}
.nav-bar__list__item:hover:before,
.nav-bar__list__item--current:before,
.nav-bar__list__item:hover:after,
.nav-bar__list__item--current:after {
  opacity: 1;
}
.nav-bar__list__item:hover:before,
.nav-bar__list__item:hover:after {
  width: 80%;
}
.nav-bar__list__item:hover:before,
.nav-bar__list__item:hover:after {
  left: 10%;
}
.nav-bar__list__item--current:before,
.nav-bar__list__item--current:after {
  left: 20%;
  right: auto;
  width: 60%;
}

.nav-bar__list__item ul {
  border-radius: 0.2rem;
  display: none;
	position: absolute;
	top: 100%;
	background: #fff;
	padding: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  z-index: 200;
}

.nav-bar__list__item ul li {
	float: none;
	width: 12rem;
  text-align: left;
}

.nav-bar__list__item ul li.current a {
  border-left: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
}

.nav-bar__list__item ul a
{
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  &:hover {
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
}

.nav-bar__list__item ul ul {
  top: 0;
  left: 100%;
}

.nav-bar__list__item:hover > ul {
  display: block;
}

/* ABOUT BAR */

.about-bar {
  display: flex;
  margin: 3rem auto;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  @media screen and (max-width: $minimum-break) {
    margin: 4rem 2rem;
  }
}
.about-bar__image {
  flex: 0 0 150px;
  margin: 0 2rem;
  text-align: center;
  img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  }
}
.about-bar__text {
  flex: 7 7 0;
  margin: 0 2rem;
  min-width: 300px;
  font-size: 1.2rem;
  font-weight: 300;
}
h1.about-bar__title {
  font-size: 1.5rem;
}

/* CONNECT BAR */

.connect-bar {
  margin: 0 auto;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  min-height: 5rem;
  padding: 1rem;
}

.connect-bar__subscribe {
  margin: 1rem 0.5rem;
}

.connect-bar__text {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
}

.connect-bar__form, .connect-bar__form__input {
  input {
    text-align: center;
    display: inline-block;
    border: 2px solid $meta-color;
  }
  input:focus {
    outline: none !important;
    border: 2px solid $primary-color;
  }
  button {
    background-color: $primary-color;
    display: inline-block;
  }
}

/* LATEST ARTICLES */

.latest-articles {
  margin: 4rem 0 -2rem;
  color: $meta-color;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: $medium-screen) {
    margin: 4rem 0 0;
  }
}

.welcome-box {
  margin: 2rem auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  h2.welcome-title {
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
  }
  @media screen and (max-width: 700px) {
    h2.welcome-title {
      font-size: 1.5rem;
    }
    p {

    }
  }
}

.welcome-box__image {
  text-align: center;
  padding: 1rem 3rem;
  flex: 2 2 5rem;
  border-radius: 0.2rem;
  img {
    max-width: 100%;
    border-radius: 0.2rem;
  }
}

.welcome-box__message {
  padding: 1rem 3rem;
  flex: 3 3 10rem;
}

.welcome-divider {
  border-color: rgba(0, 0, 0, 0.15);
  margin: 1.5rem 2rem;
}

.welcome-box__cta {
  text-align: center;
  margin-top: 2rem;
  a {
    border: 1px solid $primary-color;
    border-radius: 0.2rem;
    color: $primary-color;
    padding: 0.5rem 1rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    &:hover {
      background-color: $primary-color;
      color: white;
      opacity: 1.0;
      transition: color 350ms, background-color 350ms;
    }
  }
}
