.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.instagram-container {
  margin: 0 auto;
  @media (min-width: $screen-m) {
    max-width: 400px;
    padding: 0 0 0 2rem;
    float: right;
    clear: right;
  }
}

.image--right, .image--right--stacked {
  img {
    width: 100% !important;
    max-width: 300px !important;
    border-radius: 0.2rem;
  }
  @media (min-width: $screen-m) {
    float: right;
    clear: right;
    padding: 0 0 0 2rem;
  }
}

.image--right--stacked {
  display: inline-block;
  img {
    max-width: 200px !important;
  }
  @media (min-width: $screen-m) {
    clear: right;
  }
}

.image--left {
  img {
    width: 100% !important;
    max-width: 300px !important;
    border-radius: 0.2rem;
  }
  @media (min-width: $screen-m) {
    float: left;
    clear: left;
    padding: 0 2rem 0 0;
  }
}

.image--left--stacked {
  display: inline-block;
  img {
    max-width: 200px !important;
  }
  @media (min-width: $screen-m) {
    clear: left;
  }
}

// For responsive YouTube Embeds

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
