main.page__body {
  h2.page-title {
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
  }
  @media screen and (max-width: 700px) {
    h2.page-title {
      font-size: 1.5rem;
    }
    p {

    }
  }

  margin: 2rem auto;
  max-width: 960px;
}
