.post {
  max-width: 1024px;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  @media screen and (max-width: $screen-m) {
    padding: 0;
  }
}

/* POST HEADER */

.post__header {
  display: flex;
  flex-wrap: wrap;
}

.post__meta {
  flex: 1 1 20rem;
  margin: 2rem;
  align-self: center;
}

.post__title {
  width: 100%;
}

h1.post__title--main {
  font-size: 2.7rem;
  margin: 0 auto 0.5rem;
  line-height: 1;
  text-align: center;
  font-weight: 300;
}

h2.post__title--subtitle {
  font-size: 2rem;
  margin: 0 auto 1rem;
  line-height: 1;
  text-align: center;
  font-weight: 300;
}

.post__meta__line {
  font-weight: 300;
  margin: 1rem auto 0;
  text-align: center;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}

.post__comment-count {
  margin: 0 auto 1rem;
  font-weight: 300;
  text-align: center;
  color: $meta-color;
  a {
    color: $meta-color;
  }
}

.post__author__social {
  text-align: center;
  a {
    color: $off-black;
    display: inline-block;

    border: 1px solid white;
    border-radius: 0.2rem;

    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 2rem;

    text-align: center;

    i.fa {
      font-size: 2rem;
    }
  }
}

.post__audio {
  text-align: center;
  margin: 1rem auto 0;
  color: $meta-color;
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  audio {
    max-width: 85%;
  }
}

.post__audio__text {
  margin: 0 auto 0.5rem;
}

.post__visual {
  flex: 1 1 20rem;
  margin: 2rem;
  align-self: center;
}

.post__header__image {
  max-width: 100%;
}

header.post__header, main.post__body, footer.post__footer {
  width: 100%;
}

/* POST BODY */

main.post__body {
  margin: 0 auto 4rem;
  padding: 0 2rem;
  @media screen and (max-width: $screen-s) {
    padding: 0 1rem;
  }
  p {
    text-align: justify;
  }
  ul {
    padding-left: 2rem;
    list-style: circle;
  }
  ol {
    padding-left: 2rem;
  }
  li {

  }
  table {
    margin: 0 auto;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow-x: scroll;
    th, td {
      border: 1px solid $line-color;
      padding: 1rem;
      font-weight: 300;
      font-size: 1rem;
    }
    th {
      text-align: center !important;
      font-weight: 500;
      background-color: $bg-color;
    }
    &.total-table tbody:last-child {
      font-weight: 500;
      background-color: $bg-color;
    }
  }
  blockquote {

  }
  code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: $off-black;
    font-size: 1rem;
    overflow-x: auto;
    width: inherit;
  }

  pre {
    padding: 1.5rem;
    background: $off-black;
    color: $off-white;
    margin: 0 -1.5rem 1.5rem;
    border-radius: 0.2rem;

    code {
      color: $off-white;
    }

    li & {
      margin-left: -4.5rem;
      padding-left: 4.5rem;
    }
  }

  em {

  }
  strong {

  }
  hr {

  }
  blockquote {
    p {
      font-size: 2rem;
    }
  }

  p + img {
    float: left;
    width: 100%;
    max-width: 400px;
    margin: 2rem 2rem 2rem 0;
    box-shadow: 0 0 0.2rem 0 $line-color;
    border-radius: 0.2rem;
  }
  .caption {
    display: block;
    text-align: center;
    color: $meta-color;
    font-weight: 300;
    font-style: italic;
  }
}



.post__emphasis__box {
  border: 2px solid $primary-color;
  margin: 2rem;
  padding: 2rem;
}
.post__emphasis__box__group:nth-child(1) {
  margin-top: 0;
}
.post__emphasis__box__group {
  margin-top: 1rem;
  clear: both;
}
.post__emphasis__box__group-title {
  text-transform: uppercase;
  text-decoration: underline;
}
.post__emphasis__box__header {
  margin: 0 0 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.post__emphasis__box__entry {
  clear: both;
  font-size: 1.1rem;
}
.post__emphasis__box__entry-title {
  text-transform: uppercase;
}
.post__emphasis__box__entry-note {
  color: $meta-color;
  font-weight: 300;
}
.post__emphasis__box__entry-value {
  float: right;
}
.post__emphasis__box__footer {
  margin: 1rem 0 0;
  color: $meta-color;
  font-weight: 300;
  clear: both;
  font-size: 1.1rem;
}

/* POST FOOTER */

footer.post__footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.post__comment-box {
  flex: 1 1 500px;
  @media screen and (max-width: 991px) {
    order: 2
  }
  margin: 0 2rem 2rem;
  @media screen and (max-width: $screen-s) {
    margin: 0 1rem 2rem;
  }
}

.post__connect-box {
  flex: 1 1 300px;
  @media screen and (max-width: 991px) {
    order: 1
  }
  margin: 0 2rem 2rem;
  @media screen and (max-width: $screen-s) {
    margin: 0 1rem 2rem;
  }
  h3.meta-header {
    margin: 0.5rem;
  }
  ul {
    margin: 0.5rem;
    padding: 0 !important;
  }
}

.post__connect-box-container {
  border-radius: 0.2rem;
  //box-shadow: 0 0 0.2rem 0 $line-color;
  //padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.post__connect-box-element {
  flex: 1 1 200px;
  padding: 0 0 4rem;
}
