html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 10px;
  }
  @media only screen and (min-width: $screen-xs) {
    font-size: 11.5px;
  }
  @media only screen and (min-width: $screen-s) {
    font-size: 14px;
  }
  @media only screen and (min-width: $screen-m) {
    font-size: 16px;
  }
  @media only screen and (min-width: $screen-l) {
    font-size: 16px;
  }
  @media only screen and (min-width: $screen-xl) {
    font-size: 16px;
  }
  @media only screen and (min-width: $screen-xxl) {
    font-size: 16px;
  }
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
}
h2 {
  font-size: 1.7rem;
  font-weight: 500;
}
h3 {
  font-size: 1.6rem;
  font-weight: normal;
}
h4 {
  font-size: 1.55rem;
  font-weight: normal;
}
h5 {
  font-size: 1.5rem;
  font-weight: normal;
}
h6 {
  font-size: 1.45rem;
  font-weight: normal;
}

p, li {
  font-weight: 300;
  font-size: 1.4rem;
}

p {
  margin: 1rem 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
  opacity: 1.0;
  transition: opacity 250ms, color 250ms;
  &:hover {
    color: $primary-color;
  }
}

blockquote {
  display: block;
  clear: both;
  margin: 3rem 2rem;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
  font-style: italic;
  p {
    margin: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: justify;
  }
}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }

p.affiliate-disclaimer {
  margin: 1rem;
  font-size: 1rem !important;
  font-style: italic;
  color: $meta-color;
}

h3.meta-header {
  font-size: 1.2rem;
  color: $meta-color;
  font-weight: 300;
  text-transform: uppercase;
}

a.button, button.button, button.subscribe_button {
  border: 1px solid $primary-color;
  border-radius: 0.2rem;
  background-color: white;
  color: $primary-color;
  padding: 0.5rem 1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $primary-color;
    opacity: 1.0;
    transition: color 250ms, background-color 250ms;
  }
  &--inverted {
    color: white;
    background-color: $primary-color;
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}

dl {
  dt {
    margin-top: 0.5rem;
    font-weight: 500;
  }
  dd {
    font-weight: 300;
    margin-left: 2rem;
  }
}
