html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 11px;
  }
  @media only screen and (min-width: $xs-screen) {
    font-size: 12px;
  }
  @media only screen and (min-width: $small-screen) {
    font-size: 14px;
  }
  @media only screen and (min-width: $medium-screen) {
    font-size: 16px;
  }
  @media only screen and (min-width: $large-screen) {
    font-size: 16px;
  }
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
h4 {
  font-weight: 400;
  font-size: 1.4rem;
}
h5 {
  font-size: 1.3rem;
  font-weight: 300;
}
h6 {
  font-size: 1.2rem;
  font-weight: 300;
}

p, li {
  font-weight: 300;
  font-size: 1.2rem;
}

a {
  color: $secondary-color;
  text-decoration: none;
  opacity: 1.0;
  transition: opacity 350ms;
  &:hover {
    color: $primary-color;
  }
}

pre.highlight {
  code {
    margin-left: 2rem;
  }
}
code {
  background-color: $code-color;
  padding: 0.2rem;
  font-size: 1rem;
}

blockquote {
  display: block;
  clear: both;
  margin: 3rem 2rem;
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  font-style: italic;
  p {
    margin: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: justify;
  }
}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

h3.meta-header {
  font-size: 1.2rem;
  color: $meta-color;
  font-weight: 300;
  text-transform: uppercase;
}

a.button, button.button, button.subscribe_button {
  border: 1px solid $primary-color;
  border-radius: 0.2rem;
  color: $primary-color;
  background-color: white;
  padding: 0.5rem 1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
    color: white;
    opacity: 1.0;
    transition: color 350ms, background-color 350ms;
  }
}
