<div id="find-us-on">
  <h3 class="meta-header">
    <i class="fa fa-headphones"></i> Listen To Us
  </h3>
  <ul>
    <li><a href="https://itunes.apple.com/us/podcast/keep-thrifty-audio/id1312979029?mt=2">iTunes</a> | <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ixsulybo3z3woifd2wqrzgo3qwe?t%3DKeep_Thrifty_Audio%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16">Google Play</a></li>
    <li><a href="https://www.stitcher.com/podcast/keep-thrifty-audio">Stitcher</a> | <a href="https://tunein.com/radio/Keep-Thrifty-Audio-p1065014/">TuneIn</a></li>
    <li><a href="https://www.keepthrifty.com/audio-feed.xml">Audio RSS</a></li>
  </ul>
  <h3 class="meta-header">
    <a href="https://www.youtube.com/channel/UCHpQLpwuiNRNwQ_eLJQInQA"><i class="fa fa-youtube-play"></i> YouTube</a>
  </h3>
  <h3 class="meta-header">
    <a href="{{site.url}}/feed.xml"><i class="fa fa-rss"></i> RSS Feed</a>
  </h3>
</div>
