---
layout: page
title: Blog Archive
description: "Archive of all the Keep Thrifty blog posts sorted by date"
permalink: /archive/
redirect_from:
  - /challenges/
  - /recommended/
---

<h1>
  All the posts (by date | <a href="/tags/">by topic</a>)
</h1>

<p class="rss">
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <i class="fa fa-rss-square"></i> Get the RSS feed here
  </a>
</p>

<div class="post-list">
	<ul>
	  {% for post in site.posts %}
	    {% unless post.next %}
	      <h2>{{ post.date | date: '%B %Y' }}</h2>
	    {% else %}
	      {% capture year %}{{ post.date | date: '%B %Y' }}{% endcapture %}
	      {% capture nyear %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
	      {% if year != nyear %}
	        <h2>{{ post.date | date: '%B %Y' }}</h2>
	      {% endif %}
	    {% endunless %}

	    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
</div>
