---
layout: page
title:  Challenges
permalink: /challenges/
no_container: true
---

<h1 class="flow-text">KeepThrifty Monthly Challenges</h1>

<blockquote>
  These challenges can help you sustainably reduce your spending by targeting one new category each month. Over the course of a year, you’ll find the difference between your income and expenses growing — leaving you with more money to put toward your goals.
</blockquote>

{% for challenge in site.challenges reversed %}
  {% if challenge.url contains "index.html" %}
  <div class="post-card challenge-post">
    <div class="card">
      <a href="{{ challenge.url | prepend: site.baseurl }}">
        <div class="card-image">
          <img src="{{ challenge.image }}" class="post-index">
        </div>
        <div class="card-date">
          <span>{{ challenge.timeline }}</span>
        </div>
        <div class="card-read-btn">
          <i class="material-icons large">arrow_forward</i>
        </div>
      </a>
      <div class="card-content">
        <div class="card-title">
          <a href="{{ challenge.url | prepend: site.baseurl }}">
            {{ challenge.title }}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

<p>test</p>
