---
layout: default
exclude_from_search: true
---

<div class="landing-box">
  <div class="landing-box__image landing-box__image--welcome">
    {% include image.html path="/assets/img/our-family-vertical.jpg" preload="/assets/img/our-family-vertical-preload.svg" alt="Chris, Jaime, and their daughters" %}
  </div>
  <div class="landing-box__message">
    <h2 class="landing-title">Get a Handle on Your Money and Your Life</h2>
    <p>For most people, finances are confusing and stressful.</p>
    <p>But they shouldn't have to be.</p>
    <p>With the right mentality and a few good tools, you can turn your finances from a burden into a blessing!</p>
    <div class="landing-box__cta">
      {% include components/cta.html center-button=true %}
    </div>
  </div>
</div>

<div id="latest-content">
  <h2 class="latest-content__title">
    Our Latest
  </h2>
  <div class="latest-content__posts">
    {% assign post= site.posts[2] %}
    {% include landing/latest-content-box.html post=post %}
    {% assign post= site.posts[1] %}
    {% include landing/latest-content-box.html post=post %}
    {% assign post= site.posts[0] %}
    {% include landing/latest-content-box.html post=post %}
  </div>
  <div class="latest-content__links">
    <a class="latest-content__link" href="{{site.url}}/articles/">More Articles</a>
    <a class="latest-content__link" href="{{site.url}}/freedom-stories/">More Freedom Stories</a>
  </div>
</div>

{% include components/cta-big.html %}
