---
layout: page
title: Tagged posts
description: "Archive of all the Keep Thrifty blog posts grouped by tags"
permalink: /tags/
---

<h1>
  All the posts (<a href="/archive/">by date</a> | by topic)
</h1>

<p class="rss">
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <i class="fa fa-rss-square"></i> Get the RSS feed here
  </a>
</p>

{% assign sorted_tags = site.tags | sort %}

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<a name="{{t | handleize | replace: ' ', '-'}}"></a><h2>{{ t | capitalize }}</h2>
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}
