<div class="cyf-footer">
  <form class="form--cyf" action="https://formspree.io/&#106;&#097;&#105;&#109;&#101;&#064;&#107;&#101;&#101;&#112;&#116;&#104;&#114;&#105;&#102;&#116;&#121;&#046;&#099;&#111;&#109;" method="POST">
    <input type="hidden" name="_subject" value="KT | Freedom Story Request">
    <input type="hidden" name="_next" value="{{ "/thank-you/" | prepend: site.baseurl }}" />
    <input class="cyf-entry" type="text" name="_name" placeholder="Name or Handle" required>
    <input class="cyf-entry" type="email" name="_replyto" placeholder="Email Address" required>
    <input class="cyf-entry" type="text" name="_topic" placeholder="Your Freedom Topic" required>
    <input class="cyf-entry" type="url" name="_site" placeholder="Your Website (optional)">
    <input type="text" name="_gotcha" style="display:none" />
    <button class="button cyf-submit" type="submit">Submit</button>
  </form>
</div>
