<form class="form--contact" action="https://formspree.io/&#099;&#104;&#114;&#105;&#115;&#064;&#107;&#101;&#101;&#112;&#116;&#104;&#114;&#105;&#102;&#116;&#121;&#046;&#099;&#111;&#109;" method="POST">
  <input type="hidden" name="_subject" value="KT | Other Work Request">
  <input type="hidden" name="_next" value="{{ "/thank-you/" | prepend: site.baseurl }}" />
  <textarea name="message" placeholder="How can we help you?" rows="3" required></textarea>
  <input type="text" name="_gotcha" style="display:none" />
  <div class="form-element-inline-group">
    <input type="email" name="_replyto" placeholder="Email Address">
    <button class="button" type="submit">Submit</button>
  </div>
</form>
