/* BRAND BAR */

.brand-bar {
  position: relative;
  margin: 1rem 0;
}

.brand-bar__logo {
  text-align: center;
  img {
    max-height: 150px;
    max-width: 80%;
  }
  @media screen and ( max-width: $small-screen ) {
    padding-left: 1rem;
    text-align: left;
  }
  a:hover {
    opacity: 0.7;
  }
}

.brand-bar__icons {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  text-align: right;
}

.brand-bar__icon-list {
  margin: 0.2rem 0;
}

.brand-bar__icon-item {
  margin: 0.5rem 0.25rem;
  text-align: right;
}

a.brand-bar__icon {
  text-align: center;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;

  border-radius: 0.2rem;
  background-color: $off-black;
  border: 1px solid $off-black;
  color: white;
  transition: background-color 350ms, border 350ms;
  i.fa {
    font-size: 1rem;

  }
  &:hover {
    background-color: white;
    opacity: 1;
  }
}
