ul#featured-posts {
  list-style: none;
  padding-left: 1rem;
}

.featured-post {
  i {
    font-size: 1rem;
    text-align: center;
    width: 1.1rem;
    color: $meta-color;
    margin-right: 0.5rem;
  }
}
