
form {
  font-size: 1.2rem;
  font-weight: 300;
  input {
    display: block;
  }
  textarea, select {
    display: block;
  }
  textarea {
    min-width: 50%;
  }
  input, textarea, select {
    font-size: 1.1rem;
    border: 1px solid $meta-color;
    border-radius: 3px;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  button {
    font-size: 1.1rem;
    //background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    margin: 0.5rem auto;
    display: block;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.form--contact, .form--cyf {
  margin-bottom: 2rem;

  input, textarea, button, select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
  }
  button {
    margin-top: 1rem;
  }
}

.form--contact {
  margin: 0 auto;
  max-width: 40rem;
  textarea {
    width: 100%;
  }
}
.form-element-inline-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  input {
    flex: 1 0 10rem;
    margin: 0 2rem 0 0;
  }
  button {
    flex: 0 0 auto;
    margin: 0;
  }
}

.cyf-footer {
  margin-bottom: 2rem;
}

.form--cyf {
  max-width: 40rem;
  padding: 0.5rem 4rem 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  .cyf-title {
    flex: 0 0 100%;
    color: $meta-color;
  }

  .cyf-title, .cyf-submit {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0.5rem auto;
  }

  .cyf-submit:hover {
    cursor: pointer;
  }

  .cyf-entry {
    flex: 1 1 10rem;
    margin: 0.5rem;
  }

}
