
.search-form__input {
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  padding: 0 0 0 1.5rem;
  border: 1px solid white;
  width: 0rem;
  margin: 0;
  border-radius: 3px;
  background-color: white;
  background-image: url(/assets/img/search-icon.svg);
  background-size: 1.5rem 1.5rem;
  background-position: 0 0.2rem;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-form__input:focus, .search-form__input--active {
  cursor: auto;
  width: 20rem;
  outline: none !important;
  border: 1px solid $meta-color;
  border-radius: 3px;
}
