.sponsor-banner {
  width: 100%;
  margin: 2rem auto;
  box-shadow: $shadow;
  text-align: center;
  padding: 1rem;
  a.sponsor-link {
    img {
      width: 100%;
      max-width: 24rem;
      @media screen and (min-width: $screen-m) {
        max-width: 560px;
      }
      @media screen and (min-width: $screen-l) {
        max-width: 720px;
      }
    }
  }
  .desktop-only {
    display: none;
    @media screen and (min-width: $screen-m) {
      background-color: #006FBD;
      display: initial;
    }
  }

  .mobile-only {
    background-color: #006FBD;
    display: initial;
    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

}
