.subscribe-form {
  border: 2px solid green;
  border-radius: 0.2rem;
  padding: 2rem;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2.subscribe-form__title {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin: 0 0 2rem 0;
}

.subscribe-form__image-container {
  flex: 0 0 10rem;
}

.subscribe-form__message {
  flex: 1 0 20rem;
  padding: 0 2rem;
  p {
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
  }
}
