<div class="profile">
  <div class="profile__image"><img src="/img/me.jpg" alt="Chris's headshot" /></div>
  <div class="profile__text">
    <h3>Welcome</h3>
    <h5>I'm Chris</h5>
    <p>I'm on a mission to get our family debt-free (including our mortgage) by 2020.</p>
    <p>We're getting there through frugality, minimalism, and a whole bunch of awesome spreadsheets.</p>
    {% unless page.url == "/about/" %}<p><a href="/about/">More about me...</a></p>{% endunless %}
    <div class="profile__icons">
      <a href="https://www.twitter.com/keepthrifty"><i class="fa fa-twitter"></i></a>
      <a href="https://www.pinterest.com/keepthrifty/"><i class="fa fa-pinterest-p"></i></a>
      <a href="https://www.youtube.com/channel/UCHpQLpwuiNRNwQ_eLJQInQA/videos"><i class="fa fa-youtube"></i></a>
      <a href="/about/#contact"><i class="fa fa-envelope"></i></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
    </div>
  </div>
</div>
