<div class="boxed">
  <form class="form--contact" action="https://formspree.io/chris@keepthrifty.com" method="POST">
    <h2 class="title">Contact me</h2>
    <p class="text">I'd love to hear from you - you can find me on Twitter <a href="http://www.twitter.com/keepthrifty" target="_blank">(@keepthrifty)</a> or you can use the form below:</p>
    <input type="hidden" name="_subject" value="KeepThrifty.com Contact Submission">
    <input type="hidden" name="_next" value="{{ "/thank-you/" | prepend: site.baseurl }}" />
    <input type="email" name="_replyto" placeholder="Email Address">
    <textarea name="message" placeholder="Your message here..." rows="5" required></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <button type="submit">Contact</button>
  </form>
</div>
