<form class="form--contact" action="https://www.formingo.co/submit/d41b5c55-bba4-4a56-9117-6187bb2c02c8" method="POST">
    <input type="hidden" name="__subject" value="KeepThrifty.com Contact Submission">
    <input type="hidden" name="__redirect" value="http://www.keepthrifty.com/thank-you/">
    <input type="email" name="__replyto" placeholder="Email Address">
    <textarea name="message" placeholder="Your message here..." rows="5"></textarea>
    <button type="submit">Contact</button>
</form>
