<div class="side-container center">
  {% if page.subscribe-line %}
    <h3 class="meta-header">{{ page.subscribe-line }}</h3>
    <p>Subscribe for the weekly Keep Thrifty update</p>
  {% else %}
    <h3 class="meta-header">Get the Weekly Keep Thrifty Update</h3>
    <p>Subscribe now and get a free copy of my <em>"5 Steps to Mini-Retirement"</em> cheat sheet.</p>
  {% endif %}

  <form class="form--subscribe" action="https://keepthrifty.us12.list-manage.com/subscribe/post" method="POST">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_e2d9d07904421244770d81bdd_38f7b01157" tabindex="-1" value="">
    </div>
    <input type="hidden" name="u" value="e2d9d07904421244770d81bdd">
    <input type="hidden" name="id" value="38f7b01157">
    <input type="hidden" name="SIGNUP" value="{{ page.url | prepend: site.url }}">
    <p>Enter your e-mail address:</p>
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
    <button type="submit" value="Subscribe" name="subscribe">Subscribe Now</button>
  </form>

  <p>I don't send any spam and you can unsubscribe at any time</p>
</div>
