<div class="side-container">
  <div class="content-upgrade">
    <div class="content-upgrade__title">
      Get the Weekly Keep Thrifty Update
    </div>
    <div class="content-upgrade__form">
      <form class="form--subscribe" action="https://keepthrifty.us12.list-manage.com/subscribe/post" method="POST">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_e2d9d07904421244770d81bdd_38f7b01157" tabindex="-1" value="">
        </div>
        <input type="hidden" name="u" value="e2d9d07904421244770d81bdd">
        <input type="hidden" name="id" value="38f7b01157">
        <input type="hidden" name="SIGNUP" value="{{ page.url | prepend: site.url }}">
        <p>Enter your e-mail address:</p>
        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
        <button type="submit" value="Subscribe" name="subscribe">Subscribe Now</button>
      </form>
    </div>
    <div class="content-upgrade__text">
      Subscribe now and get a free copy of my <em>"5 Steps to Mini-Retirement"</em> cheat sheet.<br><br>
      <em>I don't send any spam and you can unsubscribe at any time</em>
    </div>
    <div class="content-upgrade__image">
      <img src="{{site.url}}/assets/img/five-steps-mini-retirement-cheat-sheet-teaser.png" alt="" />
    </div>
    <div style="clear:both"></div>
  </div>
</div>
