<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <h6 class="grey-text text-lighten-3 flow-text">Disclaimer</h6>
        <p class="grey-text text-lighten-3">
          I'm not a certified financial planner or otherwise a financial expert; this blog just contains information and enertainment (if you can call it that). I can't promise that I didn't make a typo in my math or that what's represented in my posts is appropriate for you or anyone else. Proceed with caution and a sense of humor :)
        </p>
      </div>
      <div class="col s12 l4">
        <h6 class="grey-text text-lighten-3 flow-text">Privacy Policy</h6>
        <p class="grey-text text-lighten-3">
          I don't collect information about you other than (1) what you personally provide if you submit a comment or sign up for e-mail updates and (2) what's available through normal server logs, Google Analytics, and SumoMe. I won't sell or disclose your information to others.
        </p>
      </div>
      <div class="col s12 l4">
        <h6 class="grey-text text-lighten-3 flow-text">Affiliate Links</h6>
        <p class="grey-text text-lighten-3">
          If you purchase products or sign up for services linked to from this site I may receive a small payment at no extra cost to you. I only link to products I currently use or have previously used and can recommend in good conscience. If you don't want me to get paid, just search for these products in your favorite search engine instead.
        </p>
      </div>
      <div class="col s12 center">
        <ul class="footer-links">
          <li><a class="" href="/">Home</a></li>
          <li><a class="" href="/about/">About</a></li>
          <li><a class="" href="/challenges/">Challenges</a></li>
          <li><a class="" href="/recommended/">Recommended</a></li>
          <li><a class="" href="http://tools.keepthrifty.com">Tools</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <a href="http://www.whysworks.com" class="grey-text text-lighten-4 left">© 2016</a>
      <a href="http://www.twitter.com/keepthrifty"><img src="{{ site.url }}/img/twitter.png" width="40" height="40"></a>
      <a href="http://www.keepthrifty.com" class="grey-text text-lighten-4 right">{{ site.title }}</a>
    </div>
  </div>
</footer>
