<footer class="site-footer">
  <div class="footer-row">
    <div class="profile__icons">
      <a href="https://www.twitter.com/keepthrifty"><i class="fa fa-twitter"></i></a>
      <a href="https://www.pinterest.com/keepthrifty/"><i class="fa fa-pinterest-p"></i></a>
      <a href="{{site.url}}/work-with-me/#contact"><i class="fa fa-envelope-o"></i></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-row__element">{% include post-list-featured-text-only.html %}</div>
    <div class="footer-row__element">{% include subscribe.html %}</div>
    <div class="footer-row__element">{% include disclaimer.html %}</div>
  </div>
  {% include copyright.html %}
</footer>
