<header class="site-header">
  <div class="brand-bar">
    <div class="brand-bar__logo">
      <a href="/">
        <img src="/assets/img/header/kt-logo-green.png" />
      </a>
    </div>
    <div class="brand-bar__icons">
      <ul class="brand-bar__icon-list">
        <li class="brand-bar__icon-item"><a href="https://www.twitter.com/keepthrifty" class="brand-bar__icon twitter-hover"><i class="fa fa-twitter"></i></a></li>
        <li class="brand-bar__icon-item"><a href="https://www.pinterest.com/keepthrifty/" class="brand-bar__icon pinterest-hover"><i class="fa fa-pinterest-p"></i></a></li>
        <li class="brand-bar__icon-item"><a href="https://www.facebook.com/keepthrifty/" class="brand-bar__icon facebook-hover"><i class="fa fa-facebook"></i></a></li>
        <li class="brand-bar__icon-item"><form action="{{ '/search/' | relative_url }}" class="search-form">
          <input type="text" name="q" class="search-form__input">
        </form></li>
      </ul>
    </div>
  </div>
  <div class="nav-bar">
    <ul class="nav-bar__list">
      <li class="nav-bar__list__item {% if page.url == "/start-here/" %}nav-bar__list__item--current{% endif %}"><a href="/start-here/">Start Here</a></li>
      <li class="nav-bar__list__item {% if page.url == "/about-us/" %}nav-bar__list__item--current{% endif %}"><a href="/about-us/">About Us</a></li>
      <li class="nav-bar__list__item"><a>Blog <i class="fa fa-chevron-down"></a></i>
        <ul>
          <li {% if page.url == "/archive/" %}class="current"{% endif %}><a href="/archive/">Articles</a></li>
          <li {% if page.url == "/videos/" %}class="current"{% endif %}><a href="/videos/">Videos</a></li>
          <li {% if page.url == "/create-your-freedom/" %}class="current"{% endif %}><a href="/create-your-freedom/">Freedom Stories</a></li>
        </ul>
      </li>
      <li class="nav-bar__list__button nav-bar__list__button"><a href="https://thrifty.keepthrifty.com">Thrifty App</a></li>
    </ul>
  </div>
</header>
