<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <meta name="fo-verify" content="68e9a4e6-0e65-479a-ad4b-a38199cd35d5">

  {% include analytics.html %}

  <link rel="stylesheet" href="{{ "/css/main.css?" | prepend: site.baseurl }}{{ site.time | date: "%s" }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='/js/custom/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

  {% seo %}
</head>
