<div class="latest-content__box">
  <h2 class="latest-content__box-title">
    {{ include.label }}
  </h2>
  {% assign post = site.categories[include.type].first %}
  <h3 class="latest-content__content-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  <div class="latest-content__content-image">
    <a href="{{ post.url }}">
      <img src="{{ post.image.path }}">
    </a>
  </div>
  <div class="latest-content__box-link">
    <a href="{{site.url}}{{ include.link }}">Full List of {{ include.link-label }} </a>
  </div>
</div>
