<div class="row">
  <hr />
  <div class="col s12" id="previous-post">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="left left-align">
      << {{ page.previous.title }}
    </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
  <br />
  <div class="col s12" id="next-post">
    {% if page.next %}
      <a href="{{ page.next.url }}" class="right right-align">
        {{ page.next.title }} >>
      </a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
  <hr />
</div>
