<div class="row">
  <div class="col" id="previous-post">
    {% if page.previous %}
    <h3 class="meta-header">Previous Post</h3>
    <p class="left"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
  <div class="col" id="next-post">
    {% if page.next %}
      <h3 class="meta-header">Next Post</h3>
      <p class="right"><a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
</div>
