<div class="center">
  <form action="//whysworks.us12.list-manage.com/subscribe/post?u=e2d9d07904421244770d81bdd&amp;id=38f7b01157" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col s12" target="_blank" novalidate>
    <div class="row">
      <div class="col s12 center hide-on-med-and-up"><i class="material-icons small grey-text text-lighten-1">email</i></div>
      <div class="col s12 center hide-on-small-only"><i class="material-icons medium grey-text text-lighten-1">email</i></div>
      <div class="col s12"><p class="center">Enter your e-mail address below to get posts and updates in your inbox</p></div>
      <div class="input-field col s12">
        <input id="mce-EMAIL" type="email" name="EMAIL" class="validate">
        <label for="mce-EMAIL">Email</label>
      </div>
      <div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e2d9d07904421244770d81bdd_38f7b01157" tabindex="-1" value=""></div>
      <div class="clear center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn waves-light waves-effect modal-action modal-close"></div>
    </div>
  </form>
</div>
