.side-bar {
  .side-bar-segment {
    img.icon {
      @media #{$small-and-down} {
        height: 2rem;
      }
      @media #{$medium-and-up} {
        height: 4rem;
      }
      width: auto;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-image {
  padding-right: 10px;
}

ul.post-list {
  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}

ul.footer-links {
  li {
    @media #{$small-and-down} {
     display: list-item;
    }

    @media #{$medium-and-up} {
     display: inline;
    }
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

.recommendation-set {
  .recommendation-entry {
    .card {
      .card-content {
        a {
          .card-title {
            color: $secondary-color !important;
          }
        }
        p {
          padding-bottom: 1rem;
        }
      }
      .card-action {
        a {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.author-site {
  text-decoration: underline;
}

.share-buttons {
  padding: 1rem;
  margin-bottom: 1rem;

  .share-text {
    color: #616161;
    font-size: 1.4rem;
  }
  .button-set {
    a {
      opacity: 1.0;

      &:hover { opacity: 0.7; }
    }
  }
}

.share-text {
  padding-left: 1rem;
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }

.mail-signup {
  padding: 1rem;
  .response {
    margin-top: 1.5rem;
    padding: 0.5rem;
  }
  #mce-error-response {
    background-color: red;
    color: white;
  }
  #mce-success-response {
    background-color: $primary-color;
    color: white;
  }
  .signup-form {
    .form-title {
      color: #616161;
      font-size: 1.4rem;
    }
    .input-field {
      .material-icons {
        color: #616161;
      }
    }
  }
}

.side-box {
  padding: 1rem;
}

#page-content {
  p, h1, h2, h3, h4, h5, h6, li, blockquote {
    a:hover {
      opacity: 0.7;
    }
  }
}

#post-tags {
  margin-top: 1.2rem;
  color: color("grey", "darken-2");
  font-size: 0.8rem;
  a {
    color: color("grey", "darken-2");
    &:hover {
      opacity: 0.7;
    }


  }
  .post-tag {
    background-color: color("grey", "lighten-2");
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    display: inline-block;
  }
}

// For #index rendering of posts w/ summaries
.post-card {
  margin-bottom: 20px;

  img.post-index {
    object-fit: cover;
    height: 400px;
  }

  .card-date {
    background-color: $primary-color;
    color: white;
    position: absolute;
    padding: 10px;
    top: -10px;
    left: -10px;
  }

  .card-title {
    background:#7f7f7f;
    background:rgba(0,0,0,0.6);
    width: 100%;
  }
  .card-subtitle {
    font-size: 0.8em;
    color: color("grey", "lighten-2");
  }

  .card-read-btn {
    position: relative;

    i.material-icons {
      right: 18px;
      position: relative;
      top: -2rem;


      width: 4rem;
      height: 4rem;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      font-size: 2rem;
      line-height: 4rem;
      color: #fff;
      background-color: $secondary-color;
      text-align: center;
    }
  }

  .card-content {
    color: $off-black;
    .card-title {
      font-size: 2.0rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 300;
      @media #{$small-and-down} {
        font-size: 1.1rem;
      }
      @media #{$medium-and-up} {
        font-size: 1.2rem;
      }
    }

  }
}

// For individual post views
.post-header {
  img.post-header-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 24rem;
    object-fit: cover;
    object-position: center center;
  }
}

.post-text {
  position: relative;
  background-color: white;

  .post-meta {
    padding: 10px;
    margin-top: -30px;
    background-color: $primary-color;
    color: white;

    a {
      color: white;
    }
  }

  .post-title {
    font-size: 2.5rem;
  }
  .post-subtitle {
    font-size: 2rem;
    color: color("grey", "darken-1");
  }

  .post-content, .page-content {

    img {
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &.active {
        max-width: inherit;
      }
    }

    .image-caption {
      text-align: center;
      color: color("grey", "darken-1");
    }

    blockquote {
      color: color("grey", "darken-1");
      border-left: 2px solid $primary-color;
      border-right: 2px solid $primary-color;
      padding: 0 1.5rem 0 1.5rem;
    }

    p, li {

      font-weight: 300;
      @media #{$small-and-down} {
        font-size: 1.2rem;
      }
      @media #{$medium-and-up} {
        font-size: 1.4rem;
      }



    }

    .side-note {
        p {
          text-align: right;
          opacity: 0.7;
          font-size: 1.0rem;
          a {
            color: $secondary-color;
            &:hover {
              opacity: 0.5;
            }
          }
        }
    }

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.8rem;
      color: color("grey", "darken-2");
    }
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.0rem;
    }

    ul {
      list-style-type: disc;

      margin-left: 20px;

      li {
        list-style-type: disc;
      }
    }
    pre.highlight {
      code {
        margin-left: 2rem;
      }
    }
    code {
      background-color: #DCEDC8;
      padding: 2px;
      font-size: 1rem;
      border-radius: 5px;
    }

    table {
      @extend .striped;
    }
  }
  a:hover {
    opacity: 0.7;
  }

  a.anchor:target {
    padding-top: 6rem;
  }
  a.anchor {
    color: inherit;
  }
}
