body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg-color;
}

main.page {
  flex: 1 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.side-column__content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem 0;
  max-width: 25rem;
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2rem;
  max-width: 54rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.post__title {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
}

.post__title--main {
  font-size: 2.5rem;
  color: black;
  margin: 0 0 0.5rem 0;
  font-weight: 300;
}

.post__title--subtitle {
  font-size: 2.0rem;
  color: $meta-color;
  margin: 0;
}

.post__meta {
  color: $meta-color;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  .date {
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid $meta-color;
    border-bottom: 1px solid $meta-color;
    text-transform: uppercase;
  }
  .reading-time {
    display: block;
    text-align: right;
  }
  .tags {
    display: inline-block;
    float: left;
  }
}

.post__header__image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 24rem;
  object-fit: cover;
  object-position: center center;
}

.post__body {
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &.active {
      max-width: inherit;
    }
  }

  .image-caption {
    text-align: center;
    color: $meta-color;
  }

  blockquote {
    color: $meta-color;
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    padding: 0 1.5rem 0 1.5rem;
  }

  .side-note {
    text-align: right;
    color: $meta-color;
    font-size: 0.8rem;
    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  p, li {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .disclaimer {
    color: $meta-color;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .rss {
    a {
      color: $meta-color;
    }
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.8rem;
  }

  ul {
    list-style-type: disc;

    margin-left: 2rem;

    li {
      list-style-type: disc;
    }
  }
  pre.highlight {
    code {
      margin-left: 2rem;
    }
  }
  code {
    background-color: $code-color;
    padding: 0.2rem;
    font-size: 1rem;
  }
  a:hover {
    opacity: 0.7;
  }
}

.post__footer {
  hr {
    margin: 2rem 0 2rem 0;
    color: $meta-color;
  }
}

.meta-header {
  color: $meta-color;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.tags__tag {
  color: $meta-color;
  &:hover {
    opacity: 0.7;
  }
}

.share-buttons__list {
  text-align: center;
}

.share-buttons__button {
  display: inline;

  a {
    opacity: 1.0;

    &:hover { opacity: 0.7; }
  }
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }

.mini-post-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.mini-post {
  position: relative;
  margin: 1rem 2%;
  min-width: 15rem;
  max-width: 18rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  background-color: white;
  &:hover {
    opacity: 0.7;
  }
}

.mini-post__image{
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.mini-post__caption {
  padding: 10%;
  h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin: 0.2rem 0;
  }
  h5 {
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    color: $meta-color;
    font-size: 0.9rem;
  }
}

.mini-post__link {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.featured-post {
  position: relative;
  margin: 1rem 2%;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  background-color: white;
  display: block;
  &:hover {
    opacity: 0.7;
  }
  .image {
    display: inline;
    width: 25%
  }
}

.featured-post__image{
  display: block;
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.featured-post__caption {
  width: 75%;
  display: inline-block;
  padding: 10%;
  h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin: 0.2rem 0;
  }
  h5 {
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    color: $meta-color;
    font-size: 0.9rem;
  }
}

.featured-post__link {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}


.post-list-text {
  display: block;
}

.post-list-text__item {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  line-height: 1.1rem;
  a {
    color: $meta-color;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.profile {
  position: relative;
  text-align: center;
  font-size: 1rem;
  a:hover {
    opacity: 0.7;
  }
}

.profile__image {
  padding: 0.5rem 2rem 0;

  img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 40%;
  }
}

.profile__text {
  padding: 1rem 1rem 2rem;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 0.2rem 0;
    font-weight: 300;
  }

  h5 {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    color: $meta-color;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.profile__icons {
  i {
    color: $meta-color;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5em;
  }
  .icons i a {
  text-decoration: none;
  }
}

.side-container {
  padding: 0 1rem 1rem;
  text-align: center;
}

.form--subscribe {
  font-size: 1.2rem;
  font-weight: 300;
  input {
    display: inline;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
}

form {
  button {
    background-color: $meta-color;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.4rem;
    margin: 0.2rem;
    text-transform: uppercase;
    &:hover {
      opacity: 0.7;
    }
  }
}

nav.navbar {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: stretch;
  background-color: white;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.navbar-list {
  flex-grow: 1;
  align-self: center;
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.2rem;
  margin: 15px 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.navbar-list--logo {
  flex-grow: 2;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.navbar-list__item {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 0.6em;
  padding: 12px 15px;
  position: relative;
}
.navbar-list__item a {
  color: black;
  text-decoration: none;
}
.navbar-list__item:before,
.navbar-list__item:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 60%;
  background-color: $primary-color;
  position: absolute;
  content: '';
  opacity: 0;
}
.navbar-list__item:before {
  top: 0;
  left: 0;
}
.navbar-list__item:after {
  bottom: 0;
  right: 0;
}
.navbar-list__item:hover:before,
.navbar-list__item--current:before,
.navbar-list__item:hover:after,
.navbar-list__item--current:after {
  opacity: 1;
}
.navbar-list__item:hover:before {
  left: 40%;
}
.navbar-list__item:hover:after {
  right: 40%;
}
.navbar-list__item--current:before {
  left: 20%;
}
.navbar-list__item--current:after {
  right: 20%;
}

.site-footer {
  background-color: white;
  text-align: center;
  a {
    color: $meta-color;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-row__element {
  flex: 1 0 25%;
  color: $meta-color;
  padding: 0 2rem;
  min-width: 20rem;
}

.copyright {
  margin-top: 2rem;
  font-weight: 300;
  .meta-header {
    font-size: 1rem;
  }
}

.calculator {
  input, button {
    float: right;
  }
}
