.side-bar {
  .side-bar-segment {
    img.icon {
      @media #{$small-and-down} {
        height: 2rem;
      }
      @media #{$medium-and-up} {
        height: 4rem;
      }
      width: auto;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.page-image {
  padding-right: 10px;
}

ul.post-list {
  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}

ul.footer-links {
  li {
    @media #{$small-and-down} {
     display: list-item;
    }

    @media #{$medium-and-up} {
     display: inline;
    }
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

.recommendation-set {
  .recommendation-entry {
    .card {
      .card-content {
        a {
          .card-title {
            color: $secondary-color !important;
          }
        }
        p {
          padding-bottom: 1rem;
        }
      }
      .card-action {
        a {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.author-site {
  text-decoration: underline;
}

.mail-signup {
  padding: 1rem;
  .response {
    margin-top: 1.5rem;
    padding: 0.5rem;
  }
  #mce-error-response {
    background-color: red;
    color: white;
  }
  #mce-success-response {
    background-color: $primary-color;
    color: white;
  }
  .signup-form {
    .form-title {
      color: #616161;
      font-size: 1.4rem;
    }
    .input-field {
      i {
        color: #616161;
      }
    }
  }
}

.side-box {
  padding: 1rem;
}

#page-content {
  p, h1, h2, h3, h4, h5, h6, li, blockquote {
    a:hover {
      opacity: 0.7;
    }
  }
}


// For #index rendering of posts w/ summaries
.post-card {
  margin-bottom: 20px;

  img.post-index {
    object-fit: cover;
    height: 400px;
  }

  .card-date {
    background-color: $primary-color;
    color: white;
    position: absolute;
    padding: 10px;
    top: -10px;
    left: -10px;
  }

  .card-title {
    background:#7f7f7f;
    background:rgba(0,0,0,0.6);
    width: 100%;
  }
  .card-subtitle {
    font-size: 0.8em;
    color: color("grey", "lighten-2");
  }

  .card-read-btn {
    position: relative;

    i {
      right: 18px;
      position: relative;
      top: -2rem;


      width: 4rem;
      height: 4rem;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      font-size: 2rem;
      line-height: 4rem;
      color: #fff;
      background-color: $secondary-color;
      text-align: center;
    }
  }

  .card-content {
    color: $off-black;
    .card-title {
      font-size: 2.0rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 300;
      @media #{$small-and-down} {
        font-size: 1.1rem;
      }
      @media #{$medium-and-up} {
        font-size: 1.2rem;
      }
    }

  }
}

// Current Stylesheet

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: color("grey", "lighten-4");
}

main {
  flex: 1 0 auto;
}

.post {
  background-color: white;
  padding: 2rem;
}

.post__title {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  margin: 2rem 0 2rem 0;
  text-transform: uppercase;
}

.post__title--main {
  font-size: 2.5rem;
  color: black;
  margin: 0 0 0.5rem 0;
  font-weight: 300;
}

.post__title--subtitle {
  font-size: 2.0rem;
  color: $meta-color;
  margin: 0;
}

.post__meta {
  color: $meta-color;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  .date {
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid $meta-color;
    border-bottom: 1px solid $meta-color;
    text-transform: uppercase;
  }
  .reading-time {
    display: inline-block;
    float: right;
  }
  .tags {
    display: block;
    text-align: left;
  }
}

.post__header__image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 24rem;
  object-fit: cover;
  object-position: center center;
}

.post__body {
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &.active {
      max-width: inherit;
    }
  }

  .image-caption {
    text-align: center;
    color: color("grey", "darken-1");
  }

  blockquote {
    color: color("grey", "darken-1");
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    padding: 0 1.5rem 0 1.5rem;
  }

  .side-note {
    text-align: right;
    color: $meta-color;
    font-size: 0.8rem;
    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  p, li {
    font-weight: 300;
    font-size: 1.2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.8rem;
  }

  ul {
    list-style-type: disc;

    margin-left: 2rem;

    li {
      list-style-type: disc;
    }
  }
  pre.highlight {
    code {
      margin-left: 2rem;
    }
  }
  code {
    background-color: #DCEDC8;
    padding: 2px;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  a:hover {
    opacity: 0.7;
  }
}

.post__footer {
  hr {
    margin: 2rem 0 2rem 0;
    color: $meta-color;
  }
}

.meta-header {
  color: $meta-color;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.tags__tag {
  color: $meta-color;
  &:hover {
    opacity: 0.7;
  }
}

.share-buttons__list {
  text-align: center;
}

.share-buttons__button {
  display: inline;

  a {
    opacity: 1.0;

    &:hover { opacity: 0.7; }
  }
}

.twitter { color: #55ACEE; }
.facebook { color: #3B5998; }
.google-plus { color: #DD4B39; }
.linkedin { color: #0077B5; }
.pinterest { color: #BD081C; }
.reddit { color: #FF4500; }
.tumblr { color: #35465C; }
.email { color: #C4C9CC; }

.mini-post-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.mini-post {
  position: relative;
  margin: 1rem 2%;
  min-width: 200px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  &:hover {
    opacity: 0.7;
  }
}

.mini-post__image{
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.mini-post__caption {
  padding: 10%;
  background-color: #ffffff;
  h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin: 0.2rem 0;
  }
  h5 {
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    color: #888;
    font-size: 0.9rem;
  }
}

.mini-post__link {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.profile {
  position: relative;
  text-align: center;
  font-size: 1rem;
}

.profile__image {
  padding: 15% 10% 0;

  img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 40%;
  }
}

.profile__text {
  padding: 1rem 1rem 2rem;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 0.2rem 0;
    font-weight: 300;
  }

  h5 {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    color: $meta-color;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.profile__icons {
  i {
    color: $meta-color;
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5em;
  }
  i:hover {
    opacity: 0.7;
  }
  .icons i a {
  text-decoration: none;
  }
}

.side-container {
  padding: 0 1rem 1rem;
  text-align: center;
}

.form--subscribe {
  input {
    display: inline;
    margin: 0.5rem auto;
    padding: 0.4rem;
  }
  button {
    background-color: $secondary-color;
    color: white;
    border: 1px solid $meta-color;
    border-radius: 5%;
    font-weight: 700;
    padding: 0.2rem;
    &:hover {
      opacity: 0.7;
    }
  }
}
