// For #index rendering of posts w/ summaries
.post-card {
  margin-bottom: 20px;
  &.newest-post {
    @extend .col, .s12, .m12, .l10, .offset-l1;
  }

  &.other-post {
    @extend .col, .s12, .m12, .l10, .offset-l1;
  }

  &.challenge-post {
    @extend .col, .s12, .m12, .l10, .offset-l1;
  }

  img.post-index {
    object-fit: cover;
    height: 400px;
  }

  .card-date {
    background-color: $primary-color;
    color: white;
    position: absolute;
    padding: 10px;
    top: -10px;
    left: -10px;
  }

  .card-read-btn {
    position: relative;

    i.material-icons {
      @extend .circle;
      @extend .right;
      right: 18px;
      position: relative;
      top: -2rem;


      width: 4rem;
      height: 4rem;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;

      font-size: 2rem;
      line-height: 4rem;
      color: #fff;
      background-color: $secondary-color;
      text-align: center;
    }
  }

  .card-content {
    color: $off-black;
    .card-title {
      font-size: 2.0rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
      //font-weight: bolder;
    }
    p {
      @extend .flow-text;
    }

  }
}

// For individual post views
.post-header {
  @extend .center;

  img.post-header-image {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    object-position: center center;
  }
}

.post-text {
  @extend .col, .s10, .offset-s1;
  position: relative;
  background-color: white;

  .post-meta {
    padding: 10px;
    margin-top: -30px;
    background-color: $primary-color;
    color: white;
  }

  .post-title {
    font-size: 2.5rem;
  }

  .post-content {

    img {
      @extend .materialboxed;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &.active {
        max-width: inherit;
      }
    }

    .image-caption {
      @extend .center-align;
      color: color("grey", "base");
    }

    blockquote {
      color: color("grey", "base");
    }

    p, li {
      @extend .flow-text;
    }

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.8rem;
      color: color("grey", "darken-2");
    }
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.0rem;
    }

    ul {
      list-style-type: disc;

      margin-left: 20px;

      li {
        list-style-type: disc;
      }
    }
  }

  a.anchor:target {
    padding-top: 6rem;
  }
  a.anchor {
    color: inherit;
  }
}

.post-navigation {
  @extend .col, .s12;

  .previous-post {
    @extend .col, .s6;
    a {
      @extend .left;
      @extend .left-align;
    }
  }
  .next-post {
    @extend .col, .s6;
    a {
      @extend .right;
      @extend .right-align;
    }
  }
}

.post-wrap-up {
  @extend .col, .s10, .offset-s1;
  .subscribe-card {
    @extend .card-panel, .hoverable;
  }

  .post-wrap-up-segment {
    @extend .col, .s10, .offset-s1;
  }
}
