.side-bar {
  @extend .col, .s12, .m12, .l3;

  .side-bar-segment {
    @extend .col, .s12, .m4, .l12;

    .side-bar-content {
      @extend .card-panel;
      @extend .col;
    }

    img.icon {
      @media #{$small-and-down} {
        height: 2rem;
      }
      @media #{$medium-and-up} {
        height: 4rem;
      }
      width: auto;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
