.hero-image {
  max-width: 30rem;
  width: 66.67%;
  height: 66.67%;
}
.login-link {
  color: $meta-color;
  position: absolute;
  right: 0;
}

.thrifty {
  max-width: 80rem;
  width: 90%;
  position: relative;
  display: block;
  margin-top: 0rem;
  @media screen and (min-width: $minimum-break) {
    margin-top: -2rem;
  }

  h1, h2, h3, h4, h5, h6 {
  	font-weight: 300;
  	line-height: 1.1;
  }

  $h1-size: 2.4rem !default;
  $h2-size: 2rem !default;
  $h3-size: 1.6rem !default;
  $h4-size: 1.2rem !default;
  $h5-size: 0.8rem !default;
  $h6-size: 0.4rem !default;

  // Header Styles
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: $h1-size; margin: ($h1-size / 2) 0 ($h1-size / 2.5) 0; text-align: center;}
  h2 { font-size: $h2-size; margin: ($h2-size / 2) 0 ($h2-size / 2.5) 0; text-align: center;}
  h3 { font-size: $h3-size; margin: ($h3-size / 2) 0 ($h3-size / 2.5) 0; text-align: center;}
  h4 { font-size: $h4-size; margin: ($h4-size / 2) 0 ($h4-size / 2.5) 0; text-align: center;}
  h5 { font-size: $h5-size; margin: ($h5-size / 2) 0 ($h5-size / 2.5) 0; text-align: center;}
  h6 { font-size: $h6-size; margin: ($h6-size / 2) 0 ($h6-size / 2.5) 0; text-align: center;}

  h1 { text-transform: uppercase; }

  .button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    color: $secondary-color;
    background-color: $bg-color;
    border: 1px solid $secondary-color;
    border-radius: .2rem;
    padding: 0.4rem;
    margin: 0rem;
    &:hover {
      color: white;
      background-color: $secondary-color;
      opacity: 1;
    }
  }

  .button--sign-up {
    font-size: 1.1rem;
    padding: 1rem;
    margin: auto 0.2rem;
    color: white;
    background-color: $secondary-color;
    &:hover {
      opacity: 0.7;
    }
  }

}

.thrifty__footer {
  margin-top: 6rem;
}

.testimonial {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  color: $meta-color;
  display: block;
  position: relative;
  font-size: 1.2rem;
  margin: 4rem auto 4rem;
  @media screen and (min-width: $minimum-break) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  max-width: 40rem;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.2rem;
  border-top: 0.5rem solid $meta-color;
}

.testimonial *,
.testimonial *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.testimonial figcaption {
  padding: 5% 10% 5%;
}

.testimonial figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  color: $meta-color;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 1.6rem;
  font-style: normal;
  left: 50%;
  line-height: 5rem;
  position: absolute;
  top: -2.5rem;
  width: 5rem;
}

.testimonial h3 {
  color: #3c3c3c;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin: 1rem 0 0.5rem;
}

.testimonial h4 {
  margin: 0;
}

.testimonial blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 1.5rem;
}

.nugget {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  @media screen and (min-width: $minimum-break) {
    margin-top: 6rem;
  }
  text-align: center;
  max-width: 40rem;
  hr {
    width: 60%;
    background-color: $meta-color;
  }
}

.nugget__text {
  p {
    font-size: 1.2rem;
    margin: 0.6rem 0;
    font-weight: 300;
    text-align: center;
  }
}
