---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/*** Colors ***/
$primary-color: #558B2F; //color("light-green", "darken-3") !default;
$secondary-color: #4DBED2; 
$meta-color: #9E9E9E; //color("grey", "base") !default;
$bg-color: #F5F5F5; //color("grey", "lighten-4") !default;
$code-color: #DCEDC8; //color("light-green", "lighten-4") !default;
$off-black: rgba(0, 0, 0, 0.87);
$off-white: rgba(255, 255, 255, 0.87);

$minimum-break: 600px;
$xs-screen: 360px;
$small-screen: 400px;
$medium-screen: 992px;
$large-screen: 1200px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "roboto",
        "typography",
        "header",
        "content-box",
        "thrifty",
        "number-headings",
        "convertkit",
        "custom",
        "../font-awesome-4.7.0/scss/font-awesome",
        "print"
;
