<ul class="archive-list">
  {%- assign posts = site.categories[include.type] -%}
  {%- assign topindex = posts.size | minus: 1 -%}
  {%- for i in (0..topindex) -%}
    {%- assign post = posts[i] -%}
    {%- assign nextindex = i | minus: 1 -%}
    {%- assign next = posts[nextindex] -%}

    {%- unless next -%}
      <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
    {%- else -%}
      {%- capture year %}{{ post.date | date: '%B %Y' }}{% endcapture -%}
      {%- capture nyear %}{{ next.date | date: '%B %Y' }}{% endcapture -%}
      {%- if year != nyear -%}
        <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
      {%- endif -%}
    {%- endunless -%}

    <li class="archive-list--entry">
      {% if post.video %} <a href="{{ post.url }}"><i class="fa fa-youtube-play"></i></a>{% endif %} <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {%- endfor -%}
</ul>
