<div class="comment-box" id="comments">
  <div id="disqus_thread"></div>
  <script>
  if (window.location.host != 'localhost:4000') {
    var disqus_config = function () {
      this.page.url = "{{ page.url | prepend: site.url }}";
      this.page.identifier = "{{ page.title }}";
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//keepthrifty.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  }
  </script>
  <script id="dsq-count-scr" src="//keepthrifty.disqus.com/count.js" async></script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
