<ul class="share-buttons__list">
  <li class="share-buttons__text">
    <span>Share <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
  </li>
  <li class="share-buttons__button">
    <a class="twitter" href="http://twitter.com/share?text={{page.title | url_encode}}&amp;url={{site.url}}{{page.url}}&amp;via={{site.author.twitter}}{% if page.share-hashtag %}&amp;hashtags={{page.share-hashtag}}{% endif %}" title="Share on Twitter" target="_blank">
      <i class="fa fa-twitter-square fa-3x"></i>
    </a>
  </li>
  <li class="share-buttons__button">
    <a class="pinterest" href="https://pinterest.com/pin/create/button/?url={{site.url}}{{page.url}}&amp;media={{site.url}}{% if page.pinterest-image %}{{page.pinterest-image}}.png{% else %}{{page.image.path}}{% endif %}&amp;description={% if page.description %}{{page.description | strip_html | url_encode}}{% else %}{{page.excerpt | strip_html | url_encode}}{% endif %}" title="Share on Pinterest" target="_blank">
      <i class="fa fa-pinterest-square fa-3x"></i>
    </a>
  </li>
  <li class="share-buttons__button">
    <a class="facebook" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title | url_encode}}" title="Share on Facebook" target="_blank">
      <i class="fa fa-facebook-square fa-3x"></i>
    </a>
  </li>
  <li class="share-buttons__button">
    <a class="google-plus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" title="Share on Google+" target="_blank">
      <i class="fa fa-google-plus-square fa-3x"></i>
    </a>
  </li>
  <li class="share-buttons__button">
    <a class="email" href="mailto:?&subject=Keep%20Thrifty:%20{{page.title | url_encode}}&amp;body={{page.excerpt | strip_html}}" title="Share via e-mail">
      <i class="fa fa-envelope fa-3x"></i>
    </a>
  </li>
  <li class="share-buttons__text">
    <span><i class="fa fa-arrow-left" aria-hidden="true"></i> Share</span>
  </li>
</ul>
