<div class="sponsor-banner">
  <a href="https://www.tomorrow.me?utm_source=keepthrifty&utm_medium=display&utm_campaign=influencer&utm_content=freedomstories" class="sponsor-link" rel="nofollow">
    <img class="desktop-only" src="{{site.url}}/assets/img/work-with-us/tomorrow-me-desktop.png" alt="The easiest way to plan for the future - tomorrow.me" />
    <img class="mobile-only" src="{{site.url}}/assets/img/work-with-us/tomorrow-me-mobile.png" alt="A bag of money, delivered - tomorrow.me" />
  </a>
</div>
