---
layout: archive
type: article
title: Article Archive
subtitle: Money, Minimalism, and More
description: "Money, Minimalism, and More"
image:
  path: /assets/img/archive/article-archive.jpg
  preload: /assets/img/archive/article-archive-preload.svg
permalink: /articles/
exclude_from_search: true
redirect_from:
  - /archive/
  - /audio/
  - /challenges/
  - /recommended/
  - /tags/
  - /pg2/
  - /pg3/
  - /pg4/
  - /pg5/
  - /pg6/
  - /pg7/
  - /pg8/
  - /pg9/
  - /pg10/
  - /pg11/
  - /pg12/
  - /pg13/
  - /pg14/
  - /pg15/
  - /pg16/
  - /pg17/
  - /pg18/
  - /pg19/
  - /pg20/
  - /pg21/
  - /pg22/
  - /pg23/
---

<h2 id="popular" class="archive-heading">
  Popular Articles
</h2>

{% include archive/popular-item-list.html type='article' %}

<h2 class="archive-heading">
  <i class="fa fa-file-text-o" aria-hidden="true"></i> <a href="#" class="active" id="show-all-articles">All Articles</a>
  |
  <i class="fa fa-star featured-item" aria-hidden="true"></i> <a href="#" id="show-featured-only">Featured Articles</a>
</h2>

{% include archive/full-list.html type='article' %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const showAllLink = document.querySelector('#show-all-articles');
    const showFeaturedLink = document.querySelector('#show-featured-only');
    const archiveList = document.querySelector('#archive-list');
    const unfeatured = archiveList.querySelectorAll('.archive-list--entry:not(.featured)');
    const yearHeadings = archiveList.querySelectorAll('h3');
    showAllLink.addEventListener('click', (event) => {
      event.preventDefault();
      for (let i = 0; i < unfeatured.length; i += 1) {
        unfeatured[i].style.display = 'list-item';
      }
      for (let i = 0; i < yearHeadings.length; i += 1) {
        yearHeadings[i].style.display = 'block';
      }
      showAllLink.classList.add('active');
      showFeaturedLink.classList.remove('active');
    });
    showFeaturedLink.addEventListener('click', (event) => {
      event.preventDefault();
      for (let i = 0; i < unfeatured.length; i += 1) {
        unfeatured[i].style.display = 'none';
      }
      for (let i = 0; i < yearHeadings.length; i += 1) {
        yearHeadings[i].style.display = 'none';
      }
      showAllLink.classList.remove('active');
      showFeaturedLink.classList.add('active');
    });
  });
</script>
