<div class="landing-box">
  <div class="landing-box__message">
    <h2 class="landing-title">Track your money your way</h2>
    <p>Use our app, Thrifty, to track and understand your finances so you can create your freedom.</p>
    <p>We've designed Thrifty so you can customize your experience. Personalize your income, tax, expense and savings categories to track your money your way.</p>
    <div class="landing-box__cta">
      <a href="https://thrifty.keepthrifty.com" class="button button--inverted">Track Your Spending</a>
    </div>
  </div>
  <div class="landing-box__image">
    {% include image.html path="/assets/img/laptop.jpg" preload="/assets/img/laptop-preload.svg" alt="Person working on laptop" %}
  </div>
</div>
