<div class="calculator" id="days-calculator">
  <h3 class="calculator-title">How Much FI Time Can You Buy?</h3>
  <form action="#" id="daysform" onsubmit="return false;">
    <div class="calculator-row">
      <div class="calculator-input">
        <label for="balance">Current Retirement Account Balance</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="balance" min="0" value="50000" prefix="$" id="balance">
      </div>
      <div class="calculator-input">
        <label for="extra">Proposed contribution</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="extra" min="0" value="10" prefix="$" id="extra">
      </div>
      <div class="calculator-input">
        <label id="invrate-label" for="invrate">8% annual investment growth rate</label><br />
        <input value="8" class="calculator-slider" min="0" max="20" step="0.25" type="range" name="invrate[]" id="invrate" />
      </div>
      <div class="calculator-input">
        <label id="exprate-label" for="exprate">2.5% annual expense inflation rate</label><br />
        <input value="2.5" class="calculator-slider" min="0" max="20" step="0.25" type="range" name="exprate[]" id="exprate" />
      </div>
    </div>
  </form>
  <div class="calculator-result" id="calcdays-result"></div>
  {% include calculators/calculator-footer.html %}
</div>
