
<h4>What's the Price for FI Time?</h4>
<form action="" id="dollarsform" onsubmit="return false;">
  <div class="row">
    <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
    <input type="number" name="balance" min="0" value="50000">
    <label for="balance">Current Balance ($)</label>
    </div>
    <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
    <input type="number" name="invrate" min="0" value="8.0" step="0.1">
    <label for="invrate">Investment Annual Growth Rate (%)</label>
    </div>
    <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
    <input type="number" name="exprate" min="0" value="2.5" step="0.1">
    <label for="exprate">Expense Annual Growth Rate (%)</label>
    </div>
    <div class="center">
     <input type="submit" value="Calculate" name="subscribe" class="waves-effect waves-light btn" onClick="calcprice()">
    </div>
  </div>
</form>

<div class="center">
  <h5 id="calcdayprice">Cost for an extra day: ?</h5>
  <h5 id="calcyearprice">Cost for an extra year: ?</h5>
</div>
