<div class="calculator" id="dollars-calculator">
  <h3 class="calculator-title">What's the Price for FI Time?</h3>
  <form action="#" id="dollarsform" onsubmit="return false;">
    <div class="calculator-row">
      <div class="calculator-input">
        <label for="dollars-balance">Current Retirement Account Balance</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="dollars-balance" min="0" value="50000" prefix="$" id="dollars-balance">
      </div>
    </div>
    <div class="calculator-row">
      <div class="calculator-input">
        <label id="dollars-invrate-label" for="invrate">8% annual investment growth rate</label><br />
        <input value="8" class="calculator-slider" min="0" max="20" step="0.25" type="range" name="dollars-invrate[]" id="dollars-invrate" />
      </div>
      <div class="calculator-input">
        <label id="dollars-exprate-label" for="exprate">2.5% annual expense inflation rate</label><br />
        <input value="2.5" class="calculator-slider" min="0" max="20" step="0.25" type="range" name="dollars-exprate[]" id="dollars-exprate" />
      </div>
    </div>
  </form>
  <div class="calculator-result" id="calcdollars-result"></div>
  {% include calculators/calculator-footer.html %}
</div>
