<div class="calculator">
  <form action="#" id="payment-freedom">
    <h3 class="calculator-title">Payment Freedom Calculator</h3>
    <p class="calculator-description">Enter your numbers to see how much of your retirement expenses you've got covered today.</p>
    <div class="calculator-row">
      <div class="calculator-input">
        <label for="funds-today">Current Retirement Account Balance</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="funds-today" min="0" value="150000" prefix="$">
      </div>
      <div class="calculator-input">
        <label for="annual-expenses">Retirement Annual Expenses</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="annual-expenses" min="0" value="30000" prefix="$">
      </div>
      <div class="calculator-input">
        <label for="other-income">Other Passive Annual Income</label><br />
        <span class="input-prefix">$</span>
        <input type="number" name="other-income" min="0" value="5000" prefix="$">
      </div>
      <div class="calculator-input">
        <label id="safe-withdrawal-rate-label" for="safe-withrdrawal-rate">4.00% safe withdrawal rate</label><br />
        <input value="4" class="calculator-slider" min="0.25" max="20" step="0.25" type="range" name="safe-withdrawal-rate[]" id="safe-withdrawal-rate" />
      </div>
      <div id="payment-freedom-result" class="calculator-result"></div>
      {% include calculators/calculator-footer.html %}
    </div>
  </form>
</div>
