---
layout: page
title: Article Archive
description: "Archive of all the Keep Thrifty articles"
permalink: /archive/
exclude_from_search: true
redirect_from:
  - /challenges/
  - /recommended/
  - /tags/
---

<div class="rss">
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <i class="fa fa-rss-square"></i> RSS
  </a>
</div>

<hr />

<div class="in-page-nav">
  <ul class="in-page-nav--list">
    <li class="in-page-nav--list-item"><a href="#popular">Popular</a></li>
    <li class="in-page-nav--list-item"><a href="#by-date">All Articles (by date)</a></li>
    <li class="in-page-nav--list-item"><a href="#by-topic">All Articles (by topic)</a></li>
    <li class="in-page-nav--list-item"><a href="/audio/">Audio Format</a></li>
  </ul>
</div>

<hr />

<h2 id="popular" class="archive-heading">
  Popular Articles
</h2>

{% include post-list-featured.html %}

<hr />

<h2 id="by-date" class="archive-heading">
  All Articles (by date)
</h2>

<ul class="archive-list">
  {% for post in site.posts %}
    {% unless post.next %}
      <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%B %Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li class="archive-list--entry">
      <a href="{{ post.url }}">{{ post.title }}</a>{% if post.audio %} <a href="{{ post.url }}#post__audio"><i class="fa fa-headphones"></i></a>{% endif %}{% if post.video %} <a href="{{ post.url }}"><i class="fa fa-youtube-play"></i></a>{% endif %}
    </li>
  {% endfor %}
</ul>

<hr />

<h2 id="by-topic" class="archive-heading">
  All Articles (by topic)
</h2>

{% assign sorted_tags = site.tags | sort %}

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
<ul class="archive-list">
<h3 id="{{t | handleize | replace: ' ', '-'}}" class="archive-list--title">{{ t | capitalize }}</h3>
{% for post in posts %}
  {% if post.tags contains t %}
  <li class="archive-list--entry">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}

<script id="dsq-count-scr" src="//keepthrifty.disqus.com/count.js" async></script>
