---
layout: page
title: Archive
description: "Archive of all the Keep Thrifty articles and videos"
permalink: /archive/
exclude_from_search: true
redirect_from:
  - /challenges/
  - /recommended/
  - /tags/
---

<div class="rss">
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <i class="fa fa-rss-square"></i> RSS
  </a>
</div>

<hr />

<div class="in-page-nav">
  <ul class="in-page-nav--list">
    <li class="in-page-nav--list-item"><a href="#popular">Popular</a></li>
    <li class="in-page-nav--list-item"><a href="#by-date">All (by date)</a></li>
  </ul>
</div>

<hr />

<h2 id="popular" class="archive-heading">
  Popular Articles
</h2>

{% include post-list-featured.html %}

<hr />

<h2 id="by-date" class="archive-heading">
  All (by date)
</h2>

<ul class="archive-list">
  {% for post in site.posts %}
    {% unless post.next %}
      <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%B %Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 class="archive-list--title">{{ post.date | date: '%B %Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li class="archive-list--entry">
      {% if post.video %} <a href="{{ post.url }}"><i class="fa fa-youtube-play"></i></a>{% endif %} <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<script id="dsq-count-scr" src="//keepthrifty.disqus.com/count.js" async></script>
