<div class="latest-content__box">
  <h2 class="latest-content__box-title">
    {% if site.posts.first.categories.first == include.type %}*{% endif %}
    {{ include.label }}
    {% if site.posts.first.categories.first == include.type %}*{% endif %}
  </h2>
  {% assign post = site.categories[include.type].first %}
  <h3 class="latest-content__content-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  <div class="latest-content__content-image">
    <a href="{{ post.url }}">
      <span class="sr-only">{{ post.title }}</span>
      <img src="{{ post.image.path }}">
    </a>
  </div>
  <div class="latest-content__box-link">
    <a href="{{site.url}}{{ include.link }}">Full List of {{ include.link-label }} </a>
  </div>
</div>
