<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



    {% include header.html %}

    <main>
      <div class="row">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bin/materialize.min.js"></script>
  <script type="text/javascript" src="/js/docready.js"></script>
  <script src="https://use.fontawesome.com/732e420769.js"></script>
</html>
