---
layout: default
---
<article class="page">
  {% include shared/sponsor-banner.html %}
  <header class="page__header">
    {% include page/page-visual.html %}
    {% include page/page-meta.html %}
  </header>

  <main class="page__body{% if page.number-headings %} page__body--numbered-headings{% endif %}">
    {%- if page.affiliate-link -%}{% include post/affiliate.html %}{%- endif -%}
    {{ content }}
  </main>

  <footer class="page__footer">
    {% include page/page-footer.html %}
  </footer>
</article>
