---
layout: default
---
<div class="side-bar">
  <div class="row">
    <div class="side-bar-segment normal hide-on-med-and-down">
      <div class="side-bar-content">
        {% include about.html %}
      </div>
    </div>
    <div class="side-bar-segment normal hide-on-med-and-down">
      <div class="side-bar-content">
        {% include thrifty.html %}
      </div>
    </div>
    <div class="side-bar-segment big hide-on-med-and-down">
      <div class="center">
        <a href="http://rockstarfinance.com"><img src="/img/rockstar-finance-badge.gif" alt="Rockstar Finance"></a>
      </div>
    </div>
  </div>
</div>

<div class="main-body">
  {{ content }}
</div>
