---
layout: default
comments: true
---

<div class="main-body">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    {% if page.image %}
    <div class="post-header">
      <img src="{{ page.image }}" class="post-header-image" itemprop="image" />
    </div>
    {% endif %}

    <div class="post-text">
      <header class="post-info">
        <div class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.author %}
            -
            <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">
                {{ page.author }}
              </span>
              {% if page.author_site and page.author_site_url %}
                at <a class="author-site" href="{{ page.author_site_url }}">{{ page.author_site }}</a>
              {% endif %}
            </span>
          {% endif %}
          {% if page.author_email %}
           <span class="right">
             <a href="mailto: {{ page.author_email }}">
               <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="{{ page.author_email }}">email</i>
             </a>
           </span>
          {% endif %}
        </div>

        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

        {% for tag in page.tags %}
          <div class="chip">{{ tag }}</div>
        {% endfor %}
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="post-footer">
        <div class="footer-block">
          {% include share_buttons.html %}
        </div>
        <div class="footer-block">
          {% include mail_signup.html %}
        </div>
      </div>

    </div>


  </article>

  <div class="post-navigation">
    {% include post_navigation.html %}
  </div>

  {% include comments.html %}
</div>

<div class="side-bar">
  <div class="row">
    <div class="side-bar-segment normal hide-on-small-only">
        {% include post_list.html %}
    </div>
  </div>
</div>
