---
layout: default
comments: true
---

<div class="col s12 m12 l9">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    {% if page.image %}
    <div class="post-header center">
      <img src="{{ page.image }}" class="post-header-image" itemprop="image" />
    </div>
    {% endif %}

    <div class="post-text col s10 offset-s1">
      <header class="post-info">
        <div class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.author %}
            -
            <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">
                {{ page.author }}
              </span>
              {% if page.author_site and page.author_site_url %}
                at <a class="author-site" href="{{ page.author_site_url }}">{{ page.author_site }}</a>
              {% endif %}
              {% if page.author_email %}
               <span class="right">
                 <a href="mailto:{{ page.author_email }}">
                   <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="{{ page.author_email }}">email</i>
                 </a>
               </span>
              {% endif %}
            </span>
          {% endif %}
        </div>

        <div>
        {% include reading-time.html %}
        {% if page.tags %}
          <div id="post-tags">
          {% assign sorted_tags = page.tags | sort %}
          {% for tag in sorted_tags %}
            <a href="/tags#{{ tag | handleize | replace: ' ', '-'}}"><span class="post-tag">{{ tag | capitalize }}</span></a>
          {% endfor %}
          </div>
        {% endif %}
        </div>


        <h1 class="post-title" itemprop="name headline">{{ page.title }}<br><span class="post-subtitle">{{ page.subtitle }}</span></h1>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="post-footer row" id="post-footer">
        <div class="footer-block col s12 m10 offset-m1 l6">
          {% include share_buttons.html %}
        </div>
        <div class="footer-block col s12 m10 offset-m1 l6">
          {% include mail_signup.html %}
        </div>
        <div class="footer-block col s12 m10 offset-m1 l8 offset-l2">
          {% include related-posts.html %}
        </div>
      </div>

    </div>
  </article>

  <div class="post-navigation col s12">
    {% include post_navigation.html %}
  </div>

  {% include comments.html %}
</div>

<div class="side-bar col l3 hide-on-med-and-down">
  <div class="row">
    <div class="side-bar-segment footer-block col s12">
      {% include hey.html %}
    </div>
    <div class="side-bar-segment footer-block col s12">
      {% include share_buttons.html %}
    </div>
  </div>
</div>
